## Cleaning

In [119]:
import pandas as pd
df = pd.read_csv("name_data/company_person_name_dataset.csv")
df

                                    name  class lang
0                The Canal of the Angels      0   en
1                      Rescue Renovation      0   en
2       Agatha Christie: The ABC Murders      0   en
3                            Siti Akbari      0   ar
4                                  Stany      0   pl
...                                  ...    ...  ...
199995                   Robber's Bridge      0   en
199996                       Johan Renck      0   en
199997                      Lyle Stewart      1   en
199998           Thomas Colclough Watson      1   en
199999                              Gavà      0   ca

[200000 rows x 3 columns]

In [120]:
df = df[df["class"]==1]
#look into smote for imbalance

In [121]:
import numpy as np

In [122]:
print(np.any(df["name"].isnull()))
print(np.any(df["class"].isnull()))
print(np.any(df["lang"].isnull()))

True
False
False

In [123]:
print(len(df.isnull()))

48190

In [124]:
df = df.dropna()

In [125]:
df.drop_duplicates()

                           name  class lang
11                 Raha Etemadi      1   et
12       Leena Peltonen-Palotie      1   fi
16                  Luma Grothe      1   en
20                Takuya Kakine      1   ja
21               Ōuyáng Zhènhuá      1   mi
...                         ...    ...  ...
199976          Clyde Donaldson      1   en
199980          Terry Alexander      1   en
199989             Neil Roebuck      1   en
199997             Lyle Stewart      1   en
199998  Thomas Colclough Watson      1   en

[47759 rows x 3 columns]

In [126]:
language_counts = df["lang"].value_counts
print("Language distribution:")
print(language_counts)

Language distribution:
<bound method IndexOpsMixin.value_counts of 11        et
12        fi
16        en
20        ja
21        mi
          ..
199976    en
199980    en
199989    en
199997    en
199998    en
Name: lang, Length: 48188, dtype: object>

In [127]:
print(np.any(df["name"].isnull()))
print(np.any(df["class"].isnull()))
print(np.any(df["lang"].isnull()))
print(np.any(df.duplicated()))

False
False
False
True

In [128]:
df = df.drop_duplicates()

In [129]:
print(np.any(df.duplicated()))

False

In [130]:
print("Language distribution:")
print(language_counts)

Language distribution:
<bound method IndexOpsMixin.value_counts of 11        et
12        fi
16        en
20        ja
21        mi
          ..
199976    en
199980    en
199989    en
199997    en
199998    en
Name: lang, Length: 48188, dtype: object>

In [131]:
df["lang"] = df["lang"].str.strip()
language_counts = df["lang"].value_counts()
print("Language distribution:")
print(language_counts)

Language distribution:
lang
en    23352
es     2532
it     1224
fr     1181
ja     1155
      ...
my        1
sd        1
kk        1
pa        1
si        1
Name: count, Length: 103, dtype: int64

## Additional Cleaning to Badly Formatted Names

Reset df index starting from 0

In [132]:
df.reset_index(drop=True, inplace=True)
print(df)

                          name  class lang
0                 Raha Etemadi      1   et
1       Leena Peltonen-Palotie      1   fi
2                  Luma Grothe      1   en
3                Takuya Kakine      1   ja
4               Ōuyáng Zhènhuá      1   mi
...                        ...    ...  ...
47754          Clyde Donaldson      1   en
47755          Terry Alexander      1   en
47756             Neil Roebuck      1   en
47757             Lyle Stewart      1   en
47758  Thomas Colclough Watson      1   en

[47759 rows x 3 columns]

Create langname to find the alphabet name for each character in a name instead of just the first letter (Anna said its better to have full list) and create column

In [133]:
import unicodedata

In [134]:
langname = lambda x:[unicodedata.name(char).split(' ')[0] for char in x]
df['alphabet'] = df['name'].apply(langname)
print(df['alphabet'].head())

0    [LATIN, LATIN, LATIN, LATIN, SPACE, LATIN, LAT...
1    [LATIN, LATIN, LATIN, LATIN, LATIN, SPACE, LAT...
2    [LATIN, LATIN, LATIN, LATIN, SPACE, LATIN, LAT...
3    [LATIN, LATIN, LATIN, LATIN, LATIN, LATIN, SPA...
4    [LATIN, LATIN, LATIN, LATIN, LATIN, LATIN, SPA...
Name: alphabet, dtype: object

In [135]:
allalphatype = []
#List of all alphabet types of every character in the dataset
for i in df['name']:
    for x in langname(i):
        allalphatype.append(x)

print(len(set(allalphatype)))

total = 0
for i in set(allalphatype):
    count = 0
    total +=1
    for x,y in enumerate(df['name']):
        if i in langname(y):
            count += 1
    print(count, i)
print(total)

55
418 COMMA
1 ZERO
2 TAMIL
3 ARMENIAN

1 KATAKANA
1 DAGGER
23 HANGUL
5 NUMBER
75 CYRILLIC
2 GEORGIAN
4 KANNADA
1 WHITE
5 MODIFIER
31 COLON
77 ARABIC
13 HEBREW
3 ASTERISK
85 DIGIT
2 HIRAGANA
1 SINHALA
1 LESS-THAN
1 MALAYALAM
1 LOW
1 FULLWIDTH
15 SOLIDUS
5 AMPERSAND
1 EQUALS
5 BENGALI
47392 LATIN
2 IDEOGRAPHIC
1 DOLLAR
10 SEMICOLON
301 LEFT
1 TELUGU
184 CJK
2489 FULL
1 ACUTE
1 MYANMAR
2 THAI
1400 HYPHEN-MINUS
14 GREEK
180 QUOTATION
5 COMBINING
1 FEMININE
339 APOSTROPHE
2 MIDDLE
1 GURMUKHI
1 ETHIOPIC
17 DEVANAGARI
312 RIGHT
4 EN
1 EXCLAMATION
1 SYRIAC
46500 SPACE
4 VERTICAL
55

In [136]:
def findname(character, indexes):
    for x, y in enumerate(df['name']):
        if str(character) in (langname(y)):
            indexes.append(x)
            print(x, y, df.iloc[x, 2])

def replacechar(orig, repl, indexes):
    for y in indexes:
        df.iloc[y, 0]=df.iloc[y, 0].replace(orig, repl)
        print(df.iloc[y, 0])

### Clean ASTERISK

In [137]:
ast = []
findname('ASTERISK', ast)

6816 León Ávalos y Vez* es
12044 Biga*Ranx en
25458 *Tomko sk

In [138]:
tmp = [6816, 25458]
for y in tmp:
    df.iloc[y, 0]=df.iloc[y, 0].replace('*', '')
    print(df.iloc[y, 0])

df.iloc[12044, 0]=df.iloc[12044, 0].replace('*', ' ')
print({df.iloc[i, 0] for i in ast})

León Ávalos y Vez
Tomko
{'Tomko', 'León Ávalos y Vez', 'Biga Ranx'}

### Clean FULLWIDTH

In [139]:
fullw = []
findname('FULLWIDTH', fullw)

43794 Thomas Prence （or，Thomas Prince） en

In [140]:
df.iloc[43794, 0]= "Thomas Prence or Thomas Prince"
print(df.iloc[43794, 0])

Thomas Prence or Thomas Prince

### Clean QUOTATION

In [141]:
quo = []
findname('QUOTATION', quo)

190 Francis "Frank" Forshew sv
199 Evelyn "Champagne" King en
248 Ernesto "Boy" F. Herrera en
440 Graeme "Shirley" Strachan en
557 Augustine "Willie" Dominguez en
775 Brian "Goldbelt" Maxine en
834 Joyce "Fenderella" Irby en
883 Farley "Jackmaster" Funk en
1686 Edgar "Ted" Codd en
1780 Lewis Burwell "Chesty" Puller cy
2551 Ivan Maček "Matija" hr
3020 Billy "Harp" Hamilton en
3094 George "Chappie" Johnson Jr. en
3285 "Professor" Irwin Corey en
3391 Alfredo "El Salsero" Escalera es
3477 Peter Ulysses "Sturgis" Turner en
3716 Mark Edmund "Duke" Bainum en
4987 Robert W. "Bob" Straub en
4997 James "J.T." Taylor en
5503 Arthur "Andy" B. VanGundy Jr. te
5743 David L. "Dave" Pearce en
6793 William "Bill" L. Mack en
6942 John Richard "Jack" Williams en
7024 Ronald Dean "Ron" Givens en
7480 H. K. "Kenneth" Cassidy en
7725 "Şeker" Ahmed Pasha tr
8116 H. L. "Matty" Matthews en
8296 Abigail "Abby" Sciuto it
8436 Hoffman Lee "Hop" Fuller en
8608 Christopher "Chris" A. Brown en
9339 Donald Howard "Don" Yarborough en
9649 Lee Joseph "Jody" Amedee, III en
9841 Katherine "Kathy" Webb-Kane en
9854 Frank "Monkey" Foreman en
9903 Jacob "Kobi" Baladev hi
10362 Dan "The Dude" Mowrey en
10388 Charles "Charley" Kohlhase en
10570 Jeremiah "Jerry" Alvin Jones en
10587 Clifton R. "Cliff" Ammons en
10846 Silvano "Chori" Shueg gu
11085 Don "Mr. Nice Guy" Hamilton en
11249 Willie "Big Eyes" Smith en
11281 Elinor "Ellie" Walker en
11373 Daniel "Erfan" Olerum la
11393 Dudley Anthony "Butch" Gautreaux en
11693 Clarence "Skip" Ellis en
12097 "Lightning" en
12111 Nesty "La Mente Maestra" it
12304 Luis "Rolan" Maldonado eo
12415 Archibald "Archie" Masters en
12583 Tamara Elizabeth "Tammy" Jernigan en
12789 Stevie "Top Gun" McKeag en
13099 Radford "Graham" Snelding VII fy
13619 James "Boogaloo" Bolden nl
13644 Garfield Mark "Gar" Logan en
13721 Richard "Dickie" Burnell en
14136 Friedrich "Fritz" Warnecke de
14249 Edward "Eddie" Whit en
14478 "Dark Faby" id
14656 Dr. Arturo "Arthur" J. Angara bn
14686 Jacob Franklin "Frank" Mentzer III en
14780 "Shoeless" Joe Jackson en
15006 Paul "Ginger" Fraser en
15280 Benjamin "Ben" Reilly en
15461 Alfred Edward "Ted" Ringwood en
15825 Alan "Blues" T. Baker en
16120 Henry George "Harry" Spencer en
16332 Charles "Buck" Wharton en
17171 Willem "Willebeer" de Beer nl
19434 Arthur "Art" George Bragg en
19446 Gordon Harold "Gertie" Sawley en
19841 Prospero "Butch" A. Pichay Jr. en
19962 Mariano "Pugo" Contreras es
20121 John Bachop "J.B." Gilfillan en
20371 Robert "Bob" Vickman en
20730 April "Boy" Regino en
20902 Zoilos I Dikaios ("The Just") el
21069 Isabella "Bunny" Bennett en
21415 Walter "Clift" Chandler en
21565 Charles "Chub" Reynolds en
21641 Goran Radosavljević "Guri" bs
22063 Frederick Bushnell "Jack" Ryder en
22233 Walter Bertram "Bert" Hatten de
22295 Gay Stanhope Falcon/Gay Laurence/Tom Laurence/Michael "Mike" Waring en
22626 B. F. "Chris" Christiaens la
22997 James "Jim" Ottley en
23341 Julius "Papa Cairo" Lamperez en
23649 Ronaldo "Ronnie" Puno id
24028 Richard "Mack" Machowicz en
24210 Lee "Scratch" Perry en
24273 Pasquale "Pat" Abbruzzi co
24793 Markus Sebastian "Mark" Grayson en
24902 Yaakov "Yankele" Rotblit ru
24989 George William "Bill" Webber en
25142 Brendyn "Tyce" Carlson sk
25978 Clarence "Pops" Coleman en
26078 Arthur Thomas "Tom" Colten en
26145 Sidney "Sid" Kramer en
26659 William "Bill" Huntington en
27055 Alfred "Dandy" Lowth cy
27340 Wilbur Teal "Brandy" McCain, Sr. en
27538 Marvin Thomas "Tommy" Davis en
27888 Madeline "Maddie" Warner en
27897 Pete "El Conde" Rodríguez es
28110 Thomas Alan "Tom" Greene en
28152 Alfred M. "Long" Jones en
28425 John "Cornbread" Anderson en
28538 Frank "Bunch" Davis en
29096 Louis "Dicta" Johnson en
29332 Elbernita "Twinkie" Clark en
29615 Bill Wayne "Billy" Clayton en
29884 Stéphane "Ippo" Susperregui pt
30170 Maria Rosaria "Rosy" Bindi it
30385 "Ice Cold", "Ukraine Freight Train", "North Weapon" en
30474 Paulus Tarcisius Maria "Paul" Litjens nl
30548 Iqbal Ahmad Khan, "Suhail" ar
30704 Arthur "Chip" Engelland tr
31332 Johnny "Guitar" Watson en
31862 Elam Sparks "E. S." Dortch en
31971 Joshua "Josh" Holiday en
32262 Amory T. "Slats" Gill en
32627 George Edgar "Buddy" West en
32670 John "Barney" Hines en
32766 William "Bill" Daniel en
32934 Tony Rand (Anthony Eden "Tony" Rand) en
33264 Meleana "Mana" Shim haw
34028 Raleigh "Biz" Mackey en
34632 Gerardo "Jerry" Velez es
35885 Israel "Iz" Kamakawiwoʻole haw
36202 Günther "Hans" von Kluge de
36313 Douglas Ray "Doug" Miller, I en
36427 James Harrell "Jim" Herring, Sr. en
36651 Michaela "Mickey" Shiloh en
36746 William "Billy" Tucci en
37228 François "Frank" Blais fr
37421 Robert LeBreton "Bret" Allain, II fr
38251 Suzanne "Crazy Eyes" Warren en
38346 Milagros "Mili" Urién es
38386 William "Scot" McCauley en
38579 Rudolf "Rudi" Schmidt en
38614 John "Snooks" Kelley en
38886 William "Will" Horn en
38986 Joseph "Joe" Borg en
39168 Thomas Charles "Tommy" Merritt en
39772 Henry II "the Good" en
39940 William Garnet "Bing" Coughlin en
40265 John "Pugwash" Weathers en
40479 Richmond Conrad "R. C." Hathorn, Sr. en
40670 Screwball "Screwy" Squirrel en
40699 Seelig Bartel "Bushie" Wise de
40879 Daniel "DC" Cormier en
40993 R. D. "Dewey" Halford en
41090 Wanda "Baby" McCullough en
41638 James Paul "Jim" Hendren lb
42114 Charles William "Charlie" Pierce en
42261 Walter "Wolfman" Washington en
42350 William Neff "Bill" Patman en
42616 "Khan Bahadur" Kowasji Jamshedji Petigara hi
42671 William Joseph "Billy" Guste Jr. en
43305 Lowell Christopher "Chris" Hazel en
43483 Leroy "Roy" Roberts en
44036 Thomas "Tom" Williams en
44507 Samuel "Sam" Blakeslee hr
44571 James "Jim" Schoppert fy
44637 William "Billy" Kaplan en
44958 Patrick William "Pat" Donahue en
45160 Francisco ("Paquito") Montaner García es
45358 Dolores "Lola" Cueto es
45402 Sidney McNeill "Sid" Gutierrez en
45777 F. A. "Pappy" Little Jr. en
45848 Ronald "Ron" Joseph Tesolin en
46066 Wilbur "Biggs" Wehde en
46103 William Ralph "Bill" Keffer en
46294 R. B. "Speck" Searcy en
46425 Harold Joseph "Happy" Hogan en
46580 Scoobert "Scooby" Doo en
46854 Claiborne Washington "Clay" Smothers, I en
46970 Tobias "Toby" Ragg sv
47374 Samuel Perry "Sam" Little en
47550 "Big" Al Downing en

In [142]:
replacechar('"', '', quo)

Francis Frank Forshew
Evelyn Champagne King
Ernesto Boy F. Herrera
Graeme Shirley Strachan
Augustine Willie Dominguez
Brian Goldbelt Maxine
Joyce Fenderella Irby
Farley Jackmaster Funk
Edgar Ted Codd
Lewis Burwell Chesty Puller
Ivan Maček Matija
Billy Harp Hamilton
George Chappie Johnson Jr.
Professor Irwin Corey
Alfredo El Salsero Escalera
Peter Ulysses Sturgis Turner
Mark Edmund Duke Bainum
Robert W. Bob Straub
James J.T. Taylor
Arthur Andy B. VanGundy Jr.
David L. Dave Pearce
William Bill L. Mack
John Richard Jack Williams
Ronald Dean Ron Givens
H. K. Kenneth Cassidy
Şeker Ahmed Pasha
H. L. Matty Matthews
Abigail Abby Sciuto
Hoffman Lee Hop Fuller
Christopher Chris A. Brown
Donald Howard Don Yarborough
Lee Joseph Jody Amedee, III
Katherine Kathy Webb-Kane
Frank Monkey Foreman
Jacob Kobi Baladev
Dan The Dude Mowrey
Charles Charley Kohlhase
Jeremiah Jerry Alvin Jones
Clifton R. Cliff Ammons
Silvano Chori Shueg
Don Mr. Nice Guy Hamilton
Willie Big Eyes Smith
Elinor Ellie Walker
Daniel Erfan Olerum
Dudley Anthony Butch Gautreaux
Clarence Skip Ellis
Lightning
Nesty La Mente Maestra
Luis Rolan Maldonado
Archibald Archie Masters
Tamara Elizabeth Tammy Jernigan
Stevie Top Gun McKeag
Radford Graham Snelding VII
James Boogaloo Bolden
Garfield Mark Gar Logan
Richard Dickie Burnell
Friedrich Fritz Warnecke
Edward Eddie Whit
Dark Faby
Dr. Arturo Arthur J. Angara
Jacob Franklin Frank Mentzer III
Shoeless Joe Jackson
Paul Ginger Fraser
Benjamin Ben Reilly
Alfred Edward Ted Ringwood
Alan Blues T. Baker
Henry George Harry Spencer
Charles Buck Wharton
Willem Willebeer de Beer
Arthur Art George Bragg
Gordon Harold Gertie Sawley
Prospero Butch A. Pichay Jr.
Mariano Pugo Contreras
John Bachop J.B. Gilfillan
Robert Bob Vickman
April Boy Regino
Zoilos I Dikaios (The Just)
Isabella Bunny Bennett
Walter Clift Chandler
Charles Chub Reynolds
Goran Radosavljević Guri
Frederick Bushnell Jack Ryder
Walter Bertram Bert Hatten
Gay Stanhope Falcon/Gay Laurence/Tom Laurence/Michael Mike Waring
B. F. Chris Christiaens
James Jim Ottley
Julius Papa Cairo Lamperez
Ronaldo Ronnie Puno
Richard Mack Machowicz
Lee Scratch Perry
Pasquale Pat Abbruzzi
Markus Sebastian Mark Grayson
Yaakov Yankele Rotblit
George William Bill Webber
Brendyn Tyce Carlson
Clarence Pops Coleman
Arthur Thomas Tom Colten
Sidney Sid Kramer
William Bill Huntington
Alfred Dandy Lowth
Wilbur Teal Brandy McCain, Sr.
Marvin Thomas Tommy Davis
Madeline Maddie Warner
Pete El Conde Rodríguez
Thomas Alan Tom Greene
Alfred M. Long Jones
John Cornbread Anderson
Frank Bunch Davis
Louis Dicta Johnson
Elbernita Twinkie Clark
Bill Wayne Billy Clayton
Stéphane Ippo Susperregui
Maria Rosaria Rosy Bindi
Ice Cold, Ukraine Freight Train, North Weapon
Paulus Tarcisius Maria Paul Litjens
Iqbal Ahmad Khan, Suhail
Arthur Chip Engelland
Johnny Guitar Watson
Elam Sparks E. S. Dortch
Joshua Josh Holiday
Amory T. Slats Gill
George Edgar Buddy West
John Barney Hines
William Bill Daniel
Tony Rand (Anthony Eden Tony Rand)
Meleana Mana Shim
Raleigh Biz Mackey
Gerardo Jerry Velez
Israel Iz Kamakawiwoʻole
Günther Hans von Kluge
Douglas Ray Doug Miller, I
James Harrell Jim Herring, Sr.
Michaela Mickey Shiloh
William Billy Tucci
François Frank Blais
Robert LeBreton Bret Allain, II
Suzanne Crazy Eyes Warren
Milagros Mili Urién
William Scot McCauley
Rudolf Rudi Schmidt
John Snooks Kelley
William Will Horn
Joseph Joe Borg
Thomas Charles Tommy Merritt
Henry II the Good
William Garnet Bing Coughlin
John Pugwash Weathers
Richmond Conrad R. C. Hathorn, Sr.
Screwball Screwy Squirrel
Seelig Bartel Bushie Wise
Daniel DC Cormier
R. D. Dewey Halford
Wanda Baby McCullough
James Paul Jim Hendren
Charles William Charlie Pierce
Walter Wolfman Washington
William Neff Bill Patman
Khan Bahadur Kowasji Jamshedji Petigara
William Joseph Billy Guste Jr.
Lowell Christopher Chris Hazel
Leroy Roy Roberts
Thomas Tom Williams
Samuel Sam Blakeslee
James Jim Schoppert
William Billy Kaplan
Patrick William Pat Donahue
Francisco (Paquito) Montaner García
Dolores Lola Cueto
Sidney McNeill Sid Gutierrez
F. A. Pappy Little Jr.
Ronald Ron Joseph Tesolin
Wilbur Biggs Wehde
William Ralph Bill Keffer
R. B. Speck Searcy
Harold Joseph Happy Hogan
Scoobert Scooby Doo
Claiborne Washington Clay Smothers, I
Tobias Toby Ragg
Samuel Perry Sam Little
Big Al Downing

### Clean SEMICOLON

In [143]:
semi = []
findname('SEMICOLON', semi)

12404 Caesar Lucius Aurelius Commodus Antoninus Augustus (180); la
15848 Shinmen Takezō; Miyamoto Bennosuke; Niten Dōraku; Shinmen Musashi no Kami Fujiwara no Genshin ja
28415 Lele; Ezequiel haw
33844 Michael O;Shea en
35732 Steven K. D&#39;Arcy en
38925 Darna; Princess Vara; Olga sv
43280 Given name: Xuanyuan (Hsuan-yuan; 軒轅) zh-CN
44626 Marcus Aurelius Numerius Numerianus (from birth to elevation to Caesar); la
45209 Flavius Honorius (from birth to accession); en
46661 (198 to 211); en

In [144]:
replacechar(';', '', semi)

Caesar Lucius Aurelius Commodus Antoninus Augustus (180)
Shinmen Takezō Miyamoto Bennosuke Niten Dōraku Shinmen Musashi no Kami Fujiwara no Genshin
Lele Ezequiel
Michael OShea
Steven K. D&#39Arcy
Darna Princess Vara Olga
Given name: Xuanyuan (Hsuan-yuan 軒轅)
Marcus Aurelius Numerius Numerianus (from birth to elevation to Caesar)
Flavius Honorius (from birth to accession)
(198 to 211)

### Clean VERTICAL (dropped irrelevant)

In [145]:
ver = []
findname('VERTICAL', ver)

2816 thumb|right|Spitfire Mk IIa P7350 of the BBMF is the only existing airworthy Spitfire that fought in the Battle of Britain. en
4319 frameless|center en

14690 Veronika Sramatythumb|Veronika Sramaty making of The Top Ten en
22302 Timmy O'Dowdthumb|Timmy Dowd in Dowdies December 2011 en

In [146]:
drop = [2816, 4319]
df.iloc[14690, 0] = 'Veronika Sramaty'
df.iloc[22302, 0] = "Timmy O'Dowd"

df['name'][ver]

2816     thumb|right|Spitfire Mk IIa P7350 of the BBMF ...
4319                                      frameless|center
14690                                     Veronika Sramaty
22302                                         Timmy O'Dowd
Name: name, dtype: object

### Clean COLON (incomp) (considering dropping all names)

In [147]:
col = []
findname('COLON', col)

762 Ancestral name: Jiang (姜) gu
3596 German:  Josef Franz Leopold en
4092 German: Henriette Maria Norberta en
5305 Ardeshir (or in higher Persian: Ardashir) Kamkar en
6336 Lily Munster/ OTS name: Phoebe Munster en
7433 File:Hollidaycamo.jpg en
15053 Farid Aslani (Persian : فرید اصلانی) fa
18358 Family name: Hóu (侯) en
19400 Dutch: Gabriël Boudewijn Karel Maria nl
20732 Dutch: Albert Leopold Clemens Maria Meinrad de
21742 Sajid AliUrdu:ساجد  علی fa
22198 Given name: Unknown en
24154 (Arabic:عبد العزيز بديع صالح السليمي) ar
25809 Chinese: Duàn Sīpíng (段思平) zh-CN
25879 Given name: Dao 導 ja
27432 Given name: Zhoupu (州蒲) en
27498 Makhdoom Khusro Bakhtyar (Seraiki:مخدوم  کسر  بختٻد) fa
27503 Laqab: Qutb ad-Din (shortly) uz
27582 Spanish: María Luisa de Borbón y Sajonia es
28808 Maganti Murali Mohan ( Born : Maganti Raja Babu ) te
31311 Traditional Chinese:韓世忠 zh-CN
34236 Given name: Dawud en
37179 Nu:Tone ro
40523 German: Wilhelm Friedrich Karl Ernst Joachim Albrecht en
40992 Family name:Sima(司馬) zh-CN
42223 Given name: unknown en
43280 Given name: Xuanyuan (Hsuan-yuan 軒轅) zh-CN
43800 Given name: Défāng () en
45600 Family name: Dou 竇 zh-CN
46306 Mongol script(right): en
47486 Stig H:son Ericson en

### Clean SOLIDUS

In [148]:
sol = []
findname('SOLIDUS', sol)

6336 Lily Munster/ OTS name: Phoebe Munster en
7610 Paula Baracho / Paula Ribeiro pt
8389 Rajendra Choudhary / राजेन्द्रा चौधरी hi
10940 Amanda Porter/Emily Thorne en
12453 Anne-Marie Baiynd/Presnell/Buttrick/Band en
15445 Líu Hóngdù (劉弘度) / Líu Bīn (劉玢) zh-CN
21785 Elavarasan a/l Elangowan ms
22295 Gay Stanhope Falcon/Gay Laurence/Tom Laurence/Michael Mike Waring en
23549 Carsten Bo Eriksen / MBD73 da
29724 Marcy Levy/Marcella Detroit en
29991 Mikhail Shervashidze/Chachba en
31777 Philip Hammond/Hamman, Sr. hi
43349 Nanthakumar a/l Kaliappan ta
45738 Maruja Isabella Sevilla (Spanish Era), Nina Concepcion/Cristy (Reincarnation) es
46497 Victor a/l Andrag ro

In [149]:
replacechar('/', ' ', sol)

Lily Munster  OTS name: Phoebe Munster
Paula Baracho   Paula Ribeiro
Rajendra Choudhary   राजेन्द्रा चौधरी
Amanda Porter Emily Thorne
Anne-Marie Baiynd Presnell Buttrick Band
Líu Hóngdù (劉弘度)   Líu Bīn (劉玢)
Elavarasan a l Elangowan
Gay Stanhope Falcon Gay Laurence Tom Laurence Michael Mike Waring
Carsten Bo Eriksen   MBD73
Marcy Levy Marcella Detroit
Mikhail Shervashidze Chachba
Philip Hammond Hamman, Sr.
Nanthakumar a l Kaliappan
Maruja Isabella Sevilla (Spanish Era), Nina Concepcion Cristy (Reincarnation)
Victor a l Andrag

### Clean EXCLAMATION

In [150]:
exl = []
findname('EXCLAMATION', exl)

27704 Dr. Kucho! hi

In [151]:
replacechar('!', '', exl)

Dr. Kucho

### Clean DOLLAR

In [152]:
dol = []
findname('DOLLAR', dol)

35273 Ty Dolla $ign fi

In [153]:
replacechar('$', '', dol)

Ty Dolla ign

### Clean DAGGER

In [154]:
dag = []
findname('DAGGER', dag)

7182 Philipp zu Hohenfelden † de

In [155]:
replacechar('†', '', dag)

Philipp zu Hohenfelden

### Clean LESS-THAN (drop)

In [156]:
lessth = []
findname('LESS-THAN', lessth)

44921 <span en

In [157]:
drop.append(lessth[0])
drop

[2816, 4319, 44921]

### Clean ACUTE (incomplete) (acute is an accent)

In [158]:
acu = []
findname('ACUTE', acu)

31033 Désiré M´Bonabucya fr

In [159]:
langname('M´Bonabucya')

['LATIN',
 'ACUTE',
 'LATIN',
 'LATIN',
 'LATIN',
 'LATIN',
 'LATIN',
 'LATIN',
 'LATIN',
 'LATIN',
 'LATIN']

### Clean EQUALS

In [160]:
eq = []
findname('EQUALS', eq)

24351 =Giovanni Agostino Marliani it

In [161]:
replacechar('=', '', eq)

Giovanni Agostino Marliani

### Clean ZERO (ZERO WIDTH SPACE) (incomplete) (can't seem to get rid of it)

In [162]:
ze= []
findname('ZERO', ze)

13387 صادق قطب‌زاده fa

In [163]:
replacechar('​', '', ze)

صادق قطب‌زاده

### Clean APOSTROPHE (complete?) (only cleaned ones that seemed weird)

In [164]:
apo = []
findname('APOSTROPHE', apo)

147 Lawrence O'Brien en
263 William G. T'Vault en
553 John O'Donoghue en
600 Brendan O'Brien en
686 Breon O'Casey en
882 Detta O'Cathain gd
928 Junior Sa'u hr
1192 Ak'ak'i Meipariani ht
1248 Gary De'Roux fr
1419 Patrick O'Sullivan fi
1548 Sameh El-Saharty'' su
1949 Harriet Osborne O'Hagan en
2140 Cinders O'Brien en
2195 George 'Jocka' Todd en
2461 Rod O'Connor en
2570 Luke O'Connor en
2699 Mononc' Serge fr
2761 (Dato') it
2871 Aodh Ó'Raghallaigh ga
2972 Abdullah Sallum al-Samarra'i ar
2977 Abdillahi Suldaan Mohammed 'Timacade' so
3097 Graba' ro
3230 Steve O'Neill en
3339 Eleni Koiosi' fi
3839 Brittany O'Connell en
4006 Willem 's Gravesande en
4125 Paul O'Grady en
4184 Mark O'Brien en
4208 Anne d'Alençon fr
4297 Harvey O'Brien en
4342 Summer O'Brien en
4343 Martin Patrick O'Connell en
4367 F'Murr en
4405 Molly O'Day en
4420 Bryant O'Dare Hammett, Jr. en
4724 Ann O'Connell en
4746 सुर्नेद्र झा 'सुमन ' hi
4751 Conor Cruise O'Brien en
4782 Joseph Leonard O'Brien en
4887 John O'Neill en
4925 Anil Kumar Eravathri ''' ml
5603 Joe O'Toole en
6199 Stephen James O'Donnell en
6269 Ed O'Bannon en
6527 Walter 'Dobie' Moore en
6721 Cassy O'Connor en
6794 J. J. O'Brien fr
6995 Chak Tok Ich'aak II ar
7096 Bill O'Brien en
7108 Chak Tok Ich'aak I ar
7119 Leonello d'Este it
7124 Fawzi Abdel A'al ar
7143 Tenema N'Diaye ig
7219 April O'Neil no
7261 Tim O'Brien fi
7279 Joseph O'Neill en
7359 Ta'Shia Phillips en
7845 Junior M'Pia Mapuku en
7935 Saia Fainga'a mi
7953 George O'Hehir en
8020 Brian O'Neill Afanador Pérez pt
8114 Michael O'Brien en
8234 Katherine 'Kat' Farrell en
8235 Hedy d'Ancona en
8652 Gabriel d'Hédouville fr
8786 Roberta D'Adda it
9214 Tomas 'Elof' Elofsson sv
9270 Kitty O'Neil en
9294 Dennis D'Arcy en
9643 James Peter O'Dowd en
9697 Pierre M'Pelé fr
9714 Daniel J. O'Donnell es
9739 Brian O'Connor en
9894 David D'Apuzzo es
9921 Jim O'Rourke en
10551 Sean C. O'Keefe en
10675 William O'Brien en
10728 Charlie O'Connor en
10735 Michael O'Connor en
10815 Leo O'Halloran es
10903 Pat O'Connor en
10918 Paul John O'Reilly pt
11179 Fouad M'Roudjaé en
11288 Thomas O'Regan en
11585 Michael 'Mike' Flynn en
12085 Dara O'Hagan yo
12203 Francis D'Oyly es
12606 Robert O'Connor en
12620 Jason O'Brien fi
12707 Doug O'Neill en
13218 Maarten 't Hart nl
13237 William O'Neal en
13360 Cameron O'Shea en
13400 Pat O' Driscoll en
13421 Morrough Parker O'Brien en
13423 Br'er Fox and Br'er Bear en
13523 Oskar D'Amico it
13594 Marco d'Aviano it
13686 Robert O'Leary en
13829 Ina'am As'ad Kaddoura Al-Mufti ar
13901 Steven D'Amico it
13949 Christy O'Connor Jnr en
13993 Jim 'Link' Walsh en
14027 Ch'p of H'lven en
14073 Stéphan L'Enflé fr
14123 Des O'Dwyer el
14339 Iuri Osip'ovi hr
14417 Nicholas O'Shea en
14487 Matthew O'Brien en
15041 Joe O'Reilly en
15151 Desmond O'Donnell en
15229 Maeve O'Donovan en
15501 O'Bryan en
15581 ג'ורג' בורבה yi
15666 Sultan Abu'l Fath Nasir - ud - Din Mahmud Shah I ms
15904 Yedidya Ya'ari sw
15961 Abu Yaqub Yusuf ibn Abd al-Mu'min ar
16032 Moshe Ya'alon ru
16351 Patrice Derigobert Ollo N'Doumba pt
16357 Tautai Agikimu'a Kaitu'u mi
16582 Alafoti Fa'osiliva sm
16658 Karel D'Haene gu
16806 Cathal O'Connell en
16843 Sarah-Jane D'Arcy en
16858 Anna Maria Luisa de' Medici es
17106 Logovi'i Mulipola sm
17276 Fat'hi Abu Taleb ar
17386 Georges N'Doum lb
17511 Dick D'Agostin en
17611 Cahir O'Doherty ga
17717 Louis-Joseph d'Herbomez en
17884 Colin O'Brien fi
17984 Tom O'Brien en
18031 Tim O'Neil no
18041 Komand'r en
18208 Right Rev. William O'Hara en
18283 Alan O'Brien fi
18288 Mark O'Hara en
18738 Audrey O'Brien en
18962 Lanae' Hale haw
19160 Bob O'Neill en
19223 Hal O'Hagan ar
19715 Michael Sydney Anthony O'Hara Jr. en
20000 '''William Ross MacBrien ga
20203 Ofa Fainga'anuku mi
20389 Norbert D'Souza es
20562 Lance O'Sullivan en
20835 Cha. Fra. D'Costa es
21140 The People's Champ en
21156 John O'Connell en
21472 Chico's Angels en
21511 John O'Sullivan fi
21827 Paquito D'Rivera ca
22302 Timmy O'Dowd en
22347 Charlie O'Rourke en
22475 Heath L'Estrange en
22702 The People's Warrior en
22762 K'inich K'an Joy Chitam II gu
23034 Stan O'Neill en
23098 Brendan Michael O'Brien en
23164 Mattar M'Boge kn
23318 Ron O'Dwyer en
23354 Christopher d'Amboise fr
23377 Soane Tonga'uiha mi
23399 Joel Leone Taufa'ao sm
23470 Bill O'Connor en
23519 Rory O'Brien en
23626 Percy d'Aguilar Banks en
23721 Muhammad Husayn Tabataba'i ar
23724 Ali Ri'ayat Syah I ms
23831 Donat O'Gallagher es
23886 Graham O'Connell en
23902 Jack William O'Connell en
24002 Nathan O'Keefe en
24195 Kristine O'Brien fi
24557 Leslie O'Brien Fleetwood-Smith en
24573 Stephen O'Brien en
24731 O. Timothy O'Meara el
24918 J'den Cox en
24946 Charles J. O'Byrne en
25172 Daniel O'Shaughnessy en
25219 Lawrence W. I'Anson en
25236 Lil' Wil nl
25318 Prosper L'Orange fr
25452 Joseph O'Donnell en
25532 Ken O'Dea nl
25540 Vincent O'Rourke en
25895 Da'Love Woods en
25927 Pir Syed Mohammad Yaqoob Shah''' پیر سید محمد یقوب شاہ ur
25982 Timothy O'Neill en
26025 Kyle O'Reilly fi
26299 Mohammad Sa'ed tl
26378 Vladimir Dal' en
27120 Paudie O'Sullivan te
27154 Charlie O'Brien en
27196 Mike 'Stevo' Stephenson en
27266 J. Patrick O'Neill en
27267 Jun'ichi Hamada ja
27278 Mike O'Brien fi
27516 Kelley Maureen O'Hara en
27570 Pape N'Daw en
27753 Admiral(Retired)Tan Sri Dato' Seri id
27896 François Boissy d'Anglas fr
28034 Luke O'Dwyer en
28063 Edmund O'Toole en
28069 D'Arcy Niland en
28073 Ch'ae Man-Sik en
28315 Luke O'Donnell en
28322 Deborah O'Neill en
28746 Samah Mar'ab id
28915 Antónia d'Astónaco hu
29105 Kent O'Connor bn
29119 Dr Satendra Pratap Nandan''' hi
29155 José Guillermo 'Pantalones' Santiago es
29250 Ruh al-'Alam ar
29341 Damien O'Kane fi
29428 James O'Halloran en
29844 Edward O'Grady en
29958 Gerard O'Brien en
30125 Matthew D'Aquino en
30183 Kathleen Murray O'Sullivan fi
30184 Joseph Henry O'Neil en
30460 Junior Randal Oto'o Zué pt
30497 Paul Joseph O'Shaughnessy en
30726 Yang Mulia Raja Ahmad Nazim Azlan Shah Ibni Raja Dato'seri Seri Ashman Shah (as birth) ms
30778 Joseph Stephen O'Leary en
31013 Al-Mu'tamid ar
31055 K'an I en
31454 Alaa' Matalqa fi
31524 Eamon O'Neill en
31623 D'Urban Victor Armstrong en
32073 Martin O'Malley en
32100 Gay Jacobsen D'Asaro gu
32136 Terry O'Connor en
32333 Henry Fa'arodo jr. en
32366 Richard d'Evreux fr
32376 Chris O'Brien en
33180 Bill O'Connell en
33415 Jerome X. O'Donovan es
34081 John D'Emilio haw
34584 Maleye N'Doye ru
34590 Calvin's parents en
35081 Josh O'Keefe en
35082 Mobulu M'Futi ny
35087 David Papys M'Bodji fr
35235 Nuun Ujol K'inich gd
35400 Na'ama Cohen ig
35677 G'Kar hi
35767 Denise O'Connor en
35825 Edward Cornelius O'Leary en
36018 Cormac Murphy-O'Connor en
36074 Jean-Paul 'Bluey' Maunick en
36146 Matteo D'Alessandro it
36608 M. Francois D'Eliscu co
36695 Richard O'Connor en
36878 Andy O'Brien en
37036 Oscar D'Agostino en
37047 James O'Donnell en
37246 Juan'ya Green zh-CN
37258 John O'Donnell en
37267 Claud O'Donnell en
37336 Ya'akov Berihon en
37391 Daudet N'Dongala ml
37410 Adam D'Apuzzo en
37418 Brian O'Meara en
37682 Erin O'Connor en
37701 Jack O'Hara en
37801 Michael James O'Rourke en
38083 Va'aiga TuigamalaMNZM sm
38132 Basil Salvadore D'Souza co
38439 John O'Brien en
38473 Steven O'Donnell en
38486 Robert Wanless O'Gowan en
38524 Luca D'Angelo it
38789 Marouane M'rabet ar
38818 James O'Loghlin en
38950 Ibn 'Arabi tr
39112 Paul O'Dea ro
39244 Jacques Anderson Yoboue N'da fr
39271 Domenico de' Marini it
39649 Gaston d'Orléans fr
39670 Cosimo di Giovanni de' Medici it
39951 Ippolito II d'Este it
39952 Ahmadu Adamu Mu'azu ha
40081 d'Eon en
40107 Sabrina D'Angelo es
40411 John C. D'Amico it
40439 Terry O'Dea en
40497 Aloysius O'Donoghue en
40563 Tye'sha Fluker en
40683 Ivan O'Konnel-Bronin fi
40981 Sinead O'Connor en
41000 Simon O'Connor en
41203 Pat O'Donnell en
41305 Da'Sean Butler en
41456 Omar M'Dahoma ar
41694 Barkin' Bill Smith en
41729 Stéphane N'Guéma fr
41869 Brian O'Keefe en
41970 Richard Mapuata N'Kiambi Esola sw
42101 Sione Tu'ipulotu co
42251 Eddie O'Hara en
42396 Jarrad Rogers, 'Mstr Rogers' en
42489 Pádraig 'Podsie' O'Mahony ga
42692 Jerome O'Shea en
42971 Charles David 'Bo' Ginn lb
43216 Garry Lawrence John O'Connor en
43827 Joe O'Rourke st
43838 Heather O'Reilly Werry en
44354 Mir Sa'id Muhammad Khan ar
44452 Sally Brice-O'Hara en
44472 Kerin O'Keefe yo
44693 GI-K'awiil of Cancuén en
44963 Fred D'Aguiar en
45080 L'Empereur fr
45091 Lisiate Richard Fa'aoso sm
45175 Boris Deugoué N'Gagoué fr
45403 Roy O'Brien en
45488 Seán Patrick O'Malley en
45599 Dudley O'Shaughnessy en
45861 Empress Dowager Ci'an en
45874 Peadar Toner Mac Fhionnlaoich (''P.T. McGinley) ga
45907 '''E. A. Richardson en
45932 Mo'men Soliman zh-CN
45943 Mohaisen Al-Jam'an ar
46008 מרק דבורז'צקי iw
46076 James Wallace O'Connor en
46132 Patrick O'Donovan sk
46321 Étienne N'tsunda Mvumbi rw
46613 Barry O'Grady en
46699 Johnny O'Keefe en
46701 Henry O'Brien en
46719 Keni'chiro Arai ja
46877 Raja Dato' Seri Yong Sofia Binti Almarhum Sultan Azlan Muhibbuddin Shah Al-Maghfurlah ms
47245 Paul O'Brien en
47323 Daniel O'Brien fi
47560 Raffaele D'Aquino en
47609 Edward 'E. B.' McClain en
47648 Fiddlin' Doc Roberts en

In [165]:
replacechar("'''", '', apo)

Lawrence O'Brien
William G. T'Vault
John O'Donoghue
Brendan O'Brien
Breon O'Casey
Detta O'Cathain
Junior Sa'u
Ak'ak'i Meipariani
Gary De'Roux
Patrick O'Sullivan
Sameh El-Saharty''
Harriet Osborne O'Hagan
Cinders O'Brien
George 'Jocka' Todd
Rod O'Connor
Luke O'Connor
Mononc' Serge
(Dato')
Aodh Ó'Raghallaigh
Abdullah Sallum al-Samarra'i
Abdillahi Suldaan Mohammed 'Timacade'
Graba'
Steve O'Neill
Eleni Koiosi'
Brittany O'Connell
Willem 's Gravesande
Paul O'Grady
Mark O'Brien
Anne d'Alençon
Harvey O'Brien
Summer O'Brien
Martin Patrick O'Connell
F'Murr
Molly O'Day
Bryant O'Dare Hammett, Jr.
Ann O'Connell
सुर्नेद्र झा 'सुमन '
Conor Cruise O'Brien
Joseph Leonard O'Brien
John O'Neill
Anil Kumar Eravathri
Joe O'Toole
Stephen James O'Donnell
Ed O'Bannon
Walter 'Dobie' Moore
Cassy O'Connor
J. J. O'Brien
Chak Tok Ich'aak II
Bill O'Brien
Chak Tok Ich'aak I
Leonello d'Este
Fawzi Abdel A'al
Tenema N'Diaye
April O'Neil
Tim O'Brien
Joseph O'Neill
Ta'Shia Phillips
Junior M'Pia Mapuku
Saia Fainga'a
George O'Hehir
Brian O'Neill Afanador Pérez
Michael O'Brien
Katherine 'Kat' Farrell
Hedy d'Ancona
Gabriel d'Hédouville
Roberta D'Adda
Tomas 'Elof' Elofsson
Kitty O'Neil
Dennis D'Arcy
James Peter O'Dowd
Pierre M'Pelé
Daniel J. O'Donnell
Brian O'Connor
David D'Apuzzo
Jim O'Rourke
Sean C. O'Keefe
William O'Brien
Charlie O'Connor
Michael O'Connor
Leo O'Halloran
Pat O'Connor
Paul John O'Reilly
Fouad M'Roudjaé
Thomas O'Regan
Michael 'Mike' Flynn
Dara O'Hagan
Francis D'Oyly
Robert O'Connor
Jason O'Brien
Doug O'Neill
Maarten 't Hart
William O'Neal
Cameron O'Shea
Pat O' Driscoll
Morrough Parker O'Brien
Br'er Fox and Br'er Bear
Oskar D'Amico
Marco d'Aviano
Robert O'Leary
Ina'am As'ad Kaddoura Al-Mufti
Steven D'Amico
Christy O'Connor Jnr
Jim 'Link' Walsh
Ch'p of H'lven
Stéphan L'Enflé
Des O'Dwyer
Iuri Osip'ovi
Nicholas O'Shea
Matthew O'Brien
Joe O'Reilly
Desmond O'Donnell
Maeve O'Donovan
O'Bryan
ג'ורג' בורבה
Sultan Abu'l Fath Nasir - ud - Din Mahmud Shah I
Yedidya Ya'ari
Abu Yaqub Yusuf ibn Abd al-Mu'min
Moshe Ya'alon
Patrice Derigobert Ollo N'Doumba
Tautai Agikimu'a Kaitu'u
Alafoti Fa'osiliva
Karel D'Haene
Cathal O'Connell
Sarah-Jane D'Arcy
Anna Maria Luisa de' Medici
Logovi'i Mulipola
Fat'hi Abu Taleb
Georges N'Doum
Dick D'Agostin
Cahir O'Doherty
Louis-Joseph d'Herbomez
Colin O'Brien
Tom O'Brien
Tim O'Neil
Komand'r
Right Rev. William O'Hara
Alan O'Brien
Mark O'Hara
Audrey O'Brien
Lanae' Hale
Bob O'Neill
Hal O'Hagan
Michael Sydney Anthony O'Hara Jr.
William Ross MacBrien
Ofa Fainga'anuku
Norbert D'Souza
Lance O'Sullivan
Cha. Fra. D'Costa
The People's Champ
John O'Connell
Chico's Angels
John O'Sullivan
Paquito D'Rivera
Timmy O'Dowd
Charlie O'Rourke
Heath L'Estrange
The People's Warrior
K'inich K'an Joy Chitam II
Stan O'Neill
Brendan Michael O'Brien
Mattar M'Boge
Ron O'Dwyer
Christopher d'Amboise
Soane Tonga'uiha
Joel Leone Taufa'ao
Bill O'Connor
Rory O'Brien
Percy d'Aguilar Banks
Muhammad Husayn Tabataba'i
Ali Ri'ayat Syah I
Donat O'Gallagher
Graham O'Connell
Jack William O'Connell
Nathan O'Keefe
Kristine O'Brien
Leslie O'Brien Fleetwood-Smith
Stephen O'Brien
O. Timothy O'Meara
J'den Cox
Charles J. O'Byrne
Daniel O'Shaughnessy
Lawrence W. I'Anson
Lil' Wil
Prosper L'Orange
Joseph O'Donnell
Ken O'Dea
Vincent O'Rourke
Da'Love Woods
Pir Syed Mohammad Yaqoob Shah پیر سید محمد یقوب شاہ
Timothy O'Neill
Kyle O'Reilly
Mohammad Sa'ed
Vladimir Dal'
Paudie O'Sullivan
Charlie O'Brien
Mike 'Stevo' Stephenson
J. Patrick O'Neill
Jun'ichi Hamada
Mike O'Brien
Kelley Maureen O'Hara
Pape N'Daw
Admiral(Retired)Tan Sri Dato' Seri
François Boissy d'Anglas
Luke O'Dwyer
Edmund O'Toole
D'Arcy Niland
Ch'ae Man-Sik
Luke O'Donnell
Deborah O'Neill
Samah Mar'ab
Antónia d'Astónaco
Kent O'Connor
Dr Satendra Pratap Nandan
José Guillermo 'Pantalones' Santiago
Ruh al-'Alam
Damien O'Kane
James O'Halloran
Edward O'Grady
Gerard O'Brien
Matthew D'Aquino
Kathleen Murray O'Sullivan
Joseph Henry O'Neil
Junior Randal Oto'o Zué
Paul Joseph O'Shaughnessy
Yang Mulia Raja Ahmad Nazim Azlan Shah Ibni Raja Dato'seri Seri Ashman Shah (as birth)
Joseph Stephen O'Leary
Al-Mu'tamid
K'an I
Alaa' Matalqa
Eamon O'Neill
D'Urban Victor Armstrong
Martin O'Malley
Gay Jacobsen D'Asaro
Terry O'Connor
Henry Fa'arodo jr.
Richard d'Evreux
Chris O'Brien
Bill O'Connell
Jerome X. O'Donovan
John D'Emilio
Maleye N'Doye
Calvin's parents
Josh O'Keefe
Mobulu M'Futi
David Papys M'Bodji
Nuun Ujol K'inich
Na'ama Cohen
G'Kar
Denise O'Connor
Edward Cornelius O'Leary
Cormac Murphy-O'Connor
Jean-Paul 'Bluey' Maunick
Matteo D'Alessandro
M. Francois D'Eliscu
Richard O'Connor
Andy O'Brien
Oscar D'Agostino
James O'Donnell
Juan'ya Green
John O'Donnell
Claud O'Donnell
Ya'akov Berihon
Daudet N'Dongala
Adam D'Apuzzo
Brian O'Meara
Erin O'Connor
Jack O'Hara
Michael James O'Rourke
Va'aiga TuigamalaMNZM
Basil Salvadore D'Souza
John O'Brien
Steven O'Donnell
Robert Wanless O'Gowan
Luca D'Angelo
Marouane M'rabet
James O'Loghlin
Ibn 'Arabi
Paul O'Dea
Jacques Anderson Yoboue N'da
Domenico de' Marini
Gaston d'Orléans
Cosimo di Giovanni de' Medici
Ippolito II d'Este
Ahmadu Adamu Mu'azu
d'Eon
Sabrina D'Angelo
John C. D'Amico
Terry O'Dea
Aloysius O'Donoghue
Tye'sha Fluker
Ivan O'Konnel-Bronin
Sinead O'Connor
Simon O'Connor
Pat O'Donnell
Da'Sean Butler
Omar M'Dahoma
Barkin' Bill Smith
Stéphane N'Guéma
Brian O'Keefe
Richard Mapuata N'Kiambi Esola
Sione Tu'ipulotu
Eddie O'Hara
Jarrad Rogers, 'Mstr Rogers'
Pádraig 'Podsie' O'Mahony
Jerome O'Shea
Charles David 'Bo' Ginn
Garry Lawrence John O'Connor
Joe O'Rourke
Heather O'Reilly Werry
Mir Sa'id Muhammad Khan
Sally Brice-O'Hara
Kerin O'Keefe
GI-K'awiil of Cancuén
Fred D'Aguiar
L'Empereur
Lisiate Richard Fa'aoso
Boris Deugoué N'Gagoué
Roy O'Brien
Seán Patrick O'Malley
Dudley O'Shaughnessy
Empress Dowager Ci'an
Peadar Toner Mac Fhionnlaoich (''P.T. McGinley)
E. A. Richardson
Mo'men Soliman
Mohaisen Al-Jam'an
מרק דבורז'צקי
James Wallace O'Connor
Patrick O'Donovan
Étienne N'tsunda Mvumbi
Barry O'Grady
Johnny O'Keefe
Henry O'Brien
Keni'chiro Arai
Raja Dato' Seri Yong Sofia Binti Almarhum Sultan Azlan Muhibbuddin Shah Al-Maghfurlah
Paul O'Brien
Daniel O'Brien
Raffaele D'Aquino
Edward 'E. B.' McClain
Fiddlin' Doc Roberts

### Clean LOW

In [166]:
low = []
findname('LOW', low)

8271 Panpayak_Jitmuangnon jw

In [167]:
replacechar('_', ' ', low)

Panpayak Jitmuangnon

### Clean FEMININE (incomplete) (unknown if should keep or not since its a unique character that can be identified to a languge)

In [168]:
fem = []
findname('FEMININE', fem)

31035 José Mª. Cabral Bermúdez es

### Clean MODIFIER (incomplete) (also seem to be unique characters to a language)

In [169]:
mod = []
findname('MODIFIER', mod)

19200 al-Ḥasan ibn ʻAlī al-Barbahārī ar
35526 Mulielealiʻi haw
35885 Israel Iz Kamakawiwoʻole haw
37882 Wikolia Kamehamalu Keawenui Kaahumanu-a-Kekūanaōʻa, Victoria Kamāmalu Kaahumanu IV haw
41238 Abū al-Ḥassan ʿAlī ibn ʿUthmān al-Marīni ar

In [170]:
langname('ʻAlī al-Barbahārī')

['MODIFIER',
 'LATIN',
 'LATIN',
 'LATIN',
 'SPACE',
 'LATIN',
 'LATIN',
 'HYPHEN-MINUS',
 'LATIN',
 'LATIN',
 'LATIN',
 'LATIN',
 'LATIN',
 'LATIN',
 'LATIN',
 'LATIN',
 'LATIN']

In [171]:
langname('ʿAlī ibn ʿUthmān al-Marīni')

['MODIFIER',
 'LATIN',
 'LATIN',
 'LATIN',
 'SPACE',
 'LATIN',
 'LATIN',
 'LATIN',
 'SPACE',
 'MODIFIER',
 'LATIN',
 'LATIN',
 'LATIN',
 'LATIN',
 'LATIN',
 'LATIN',
 'SPACE',
 'LATIN',
 'LATIN',
 'HYPHEN-MINUS',
 'LATIN',
 'LATIN',
 'LATIN',
 'LATIN',
 'LATIN',
 'LATIN']

### Clean RIGHT (312) (right parenthesis and right single quotation mark) and LEFT (301)

In [172]:
langname('’')

['RIGHT']

In [173]:
rig = []
lef = []
findname('RIGHT', rig)
findname('LEFT', lef)

46 David John (Dave) Shannon en
101 (Armen Lubin) de
197 C.W. (Bill) Hutchins en
355 Koshinaka Makoto (越中睦士) ja
555 Josip Seissel (Jo Klek) sl
762 Ancestral name: Jiang (姜) gu
802 Frank J. O’Connell en
915 (최영일) ko
1357 (Henry Roger) Justin Lewis en
1724 Hubert Duck, Deuteronomy Duck and Louis Duck (Quack Pack) en
1757 Charles D. “Chuck” McAtee en
1794 (GOSEComCComCS) en
1997 Junsei Terasawa (寺沢潤世) ja
2335 () en
2346 Pavel (Pavlo) Gintov sk
2411 (Τίνα Μπιρμπίλη) el
2446 Blessed John Finch (martyr) en
2479 David Hirst (arachnologist) en
2502 Hormisdas Etienne Djibri (Estefan Jabri) fr
2505 Baldwin (II) Rátót hu
2605 Kim Tae-Jin (김태진) ko
2608 (Serdar-ı Ekrem Ömer Paşa) tr
2761 (Dato') it
2942 Claire Kirby (Claire Debrois) en
2980 Saint Honoratus (Honorius) of Amiens la
3187 Milo Gunderson (body) en
3654 Alexander (Oleksandr) Khvostenko-Khvostov ru
4084 Kanysh Satpayev (Kanysh Satbaev) ru
4216 Mohammad Boroujerdi (محمد بروجردی) ar
4301 Örüg Temür Khan (Gulichi) tr
4308 Samuel Robles (Panamanian Musician) en
4461 Stan Bowsher (footballer) en
4808 Chen Tsu-Li (陳 祖烈) ja
4830 Frederick Charles (Karl), Duke of Württemberg-Winnental en
4988 Avrahm (Abraham) Yarmolinsky en
5061 (The Right Honourable) en
5294 Jeane (Jean) Manson fr
5305 Ardeshir (or in higher Persian: Ardashir) Kamkar en
5404 (Italian Name) Giuseppe Stefano Chiaffredo Marello (English) Joseph Stephen Jeffrey Marello it
5432 Wigstan (Wystan, Wistan) en
5544 (김규환) ko
5587 (Dionysius the Humble) en
6052 (강태식) ko
6513 William Ellis (Bill) Newton en
6855 Li Jing (Regine Wu) zh-CN
7106 Tugstumur khan (Uskhal) en
7135 (The Right Reverend) en
7265 (Сүхбаатарын Янжмаа) mn
7290 Thaddeus Maxim Eugene (Ted) Dikty en
7429 (אבי סטרול) iw
7448 (محمد افضل بنګش) ps
7556 Blackwulf I (Pelops), Blackwulf II (Lucian) en
7700 Chris (Simpsons artist) en
7743 Vasile Cerescu (Ciorăscu) ro
8182 P. T. Narasimhachar (Pu Ti Na) bn
8226 (غلامرضا مصباحی مقدم) fa
8369 (S.H.A.D.E.) en
8406 Fyodor Osipovich (Franz Albert) Schechtel lb
8416 (Михайло Петрович Драгоманов) uk
8853 (Vice Admiral) en
9028 Lee Dong-Won (이동원) ko
9148 (عمرو حمزاوى ) ar
9374 T. R. Subba Rao (Ta Ra Su) fi
9408 Ravinder Nath (Tiny) Maini te
9730 (정재권) ko
9742 (Erin) en
10138 Max (Mordechai) Farbmann en
10166 (אסי בלדוט) iw
10257 Akagündüz (Aka Gündüz) Kutbay tr
10448 (Илья Сергеевич Глазунов) ru
10533 Alessandro D’Errico it
10543 梅若実(初世) ja
10761 (권순태) ko
10777 Vonnie (Thompson) DeLong id
10793 (최윤겸) ko
10969 Joshua Cain (Mr. Jingle Jangles) en
11088 Hugh (III) en
11599 Z. W. (Bill) Birnbaum en
11655 (मुनि लाल) hi
11861 S’manga Khumalo zu
12402 (Олександр Дубовой) ru
12404 Caesar Lucius Aurelius Commodus Antoninus Augustus (180) la
12526 (محمد قنيري افرح) ar
12674 H. R.(Bill)Percy en
12717 (გიორგი თარგამაძე) ka
12801 (Владимир Антонов-Овсеенко) ru
13038 (Его́р  Лигачёв) tg
13070 Kenneth Tse (謝德驥) zh-CN
13113 Lee Hyun-Min (이현민) ko
13333 (MBE) en
13345 (Charles Chalmont) en
13465 Clarence George Jeffries or (Jeffreys) en
13561 (조긍연) ko
13806 Naum Natanovich (Nokhim Sanalevich) Meiman bg
13860 Mian Tansen (Tansen) ja
13966 ( ) en
14098 Willie Chu (聲漪 朱) zh-CN
14121 (CBEFSA) mg
14152 (Paul-Tijs Goldschmidt) nl
14168 Ralph de Stafford(Dokeseye) en
14521 (Yamato Maeda) ja
14563 Sinéad O’Connor ga
15040 Park Chul-Hyung (박철형) ko
15053 Farid Aslani (Persian : فرید اصلانی) fa
15183 Magdalena Joanna Śliwa (nee Szryniawska) pl
15219 Hiroya (弘也) ja
15265 Ștefan Gușă (Gușe) ro
15276 Ithobaal I (’Ittoba‘l, Ethbaal) ml
15357 (J. Leonard Blussé van Oud-Alblas) nl
15445 Líu Hóngdù (劉弘度)   Líu Bīn (劉玢) zh-CN
15486 Pat O’Kelly en
15758 Mark (I) Csák hu
15794 Dmitry (Dima) Kroyter ru
16709 Shin Soo-Jin (신수진) ko
16770 Rowena Webster (Rowie) pl
16948 (Baroness Eccles of Moulton) en
17008 ) en
17103 (Зоран Димитријевић) sr
17709 (محمد یعقوب علی) fa
17946 Mit’hat Frashëri sq
18012 Eeyore (Disney version) en
18065 Zhang Na (volleyball) en
18358 Family name: Hóu (侯) en
18482 Zhou Huaizheng (周懷政) zh-CN
18510 L. O. (Buck) Olsen en
19315 (Nguam Indapañño) hmn
19435 Billy(William) Best en
19816 Dolk (Dolk Lundgren) sv
20020 (額爾德特·文繡) zh-CN
20212 Yu Bin (喻彬) ja
20243 Ivan Samylovskii (Samylovsky) Иван Самыловский ru
20276 Louise Firouz (née Laylin) fr
20347 Gabrielle “Goldie” Nowee en
20518 (Дми́трий Я́зов) ru
20574 (이상헌) ko
20668 D.O. (Defy the Odds) en
20738 David O’Callaghan en
20902 Zoilos I Dikaios (The Just) el
20903 (伊沢利光) ja
20908 Digvijay Singh (Bihar) hi
21178 (Gerhard) Louis De Geer nl
21467 (中嶋常幸) ja
21731 (龔怡萍) zh-CN
21982 (송진형) ko
21983 (Abu Issa) ar
22135 (박건하) ko
22207 Bashkir (Башкир) ru
22510 Gabriel Montiel Gutiérrez (werevertumorro ) es
22654 Gaura Pant (Shivani) mr
23115 Tan Sri (Dr) Francis Yeoh Sock Ping en
23503 Helmut Hölzer () de
23513 (Александр Аполлонович Шавлохов) ru
23700 Donato Bramante (Spongebob Squarepants) it
23737 (김영광) ko
24052 Nicholas Gordon (Nick) Martin en
24154 (Arabic:عبد العزيز بديع صالح السليمي) ar
24321 (Анта Симеоновић) sr
24959 Meera Chandrasekhar (ಮೀರಾ ಚಂದ್ರಶೇಖರ್) kn
25106 Flavius Julius Constantius Augustus (as Augustus) la
25205 (Бошко Ѓуровски) mk
25435 Tvrtko Kale (changed to Dreshler Kale) hr
25538 (Никола́й Вознесе́нский) ru
25704 Huang Teng-hui (黃騰輝) zh-CN
25809 Chinese: Duàn Sīpíng (段思平) zh-CN
25924 Constantine Mavrocordatos (Κωνσταντίνος Μαυροκορδάτος) el
25972 Anthony O’Sullivan el
26002 (عبدالرزاق محمد) ar
26302 Shen Yilun (沈義倫) zh-CN
26495 Sviatopolk Iziaslavovich (Mikhail) sk
26961 Hamza (Pakistani politician) en
27352 Harpreet Sachdeva (Harry) hi
27432 Given name: Zhoupu (州蒲) en
27439 (허기태) ko
27498 Makhdoom Khusro Bakhtyar (Seraiki:مخدوم  کسر  بختٻد) fa
27501 (Валенти́на Матвие́нко) bg
27503 Laqab: Qutb ad-Din (shortly) uz
27540 (Александар Карађорђевић) sr
27660 Tina Sani (singer) en
27753 Admiral(Retired)Tan Sri Dato' Seri id
27771 Bishop Petru (Musteață) ro
27778 (cult suppressed) en
27846 Bennett Friedman (age 67) en
28042 Liu Guosong (Liu Kuo-sung) zh-CN
28119 Joan O’Flynn, Siobhán Ní Fhloinn ga
28300 Colin Priestner (Coe-in) en
28335 Heikki Savolainen (gymnast) fi
28348 Robert Douglas George (Bob) Stanbury en
28621 Francis (Archie) Archibald en
28808 Maganti Murali Mohan ( Born : Maganti Raja Babu ) te
28934 (Пётр Михайлович Латышев) ru
29173 Tjitske Nienke (Cisca) Wijmenga fy
29178 Sir C. V. Raman (Chandrasekhara Venkata Raman) hi
29338 (Драган Којадиновић) sr
29429 (홍명보) ko
29466 Shmuel (Rubashkin) Eyal ru
29668 Air Marshal (retd) Enamul Bari bn
29675 (CMRN) en
29702 (Hoàng Văn Xiêm) vi
29902 Samuel W. (Wat) Arnold pl
30145 (Charles) David White en
30557 Rana Ali Imran (علی عمران) fa
30723 Devan (R. Mahadevan) hi
30726 Yang Mulia Raja Ahmad Nazim Azlan Shah Ibni Raja Dato'seri Seri Ashman Shah (as birth) ms
30888 Louise O’Hara en
30907 Julien Dupré (Dupre) fr
31290 (Варвара Зеленская) ru
31381 漢人 陽子　(Kando Yōko) zh-CN
31390 Jacques Miller (ACFRSFAA) en
31465 Mary J. P. (Maura) Scannell en
31600 Ludwik Konarzewski (junior) pl
31902 (Saint Damien of Molokai) en
32096 Jonathan (Dana) Wilson en
32104 Charles P. (Chuck) Thacker en
32301 Justin Sane (In professional wrestling) en
32375 (ლევან ყენია) ka
32463 (Cardinalof theCatholic Church) en
32500 Wilfred Austin “Wilf” Curtis en
32512 Kazuo “Shin Sen” Hamasaki ja
32934 Tony Rand (Anthony Eden Tony Rand) en
33069 (Юмжаагийн Цэдэнбал) mn
33521 (Ευστάθιος Ταυλαρίδης) el
33704 Joseph (Osip Ivanovich) Bové sk
33732 1315 (1899)P.-2 en
33741 Shekhar Dutt (SM) en
33750 Paladine H. Roye (Pon-Cee-Cee) gu
33988 (CBE) en
34072 Brig Gen. (Ret.) Gary Pendleton en
34370 Marcario (Macario) García es
34514 (خلیل الرحمان رمدے) ur
34607 Misia Ff (Furtak) pl
34625 (عبد الرحمن حسن عزام) ar
35086 Samuel Woodroffe Hollis (née Moore) en
35206 Mehdi Hassan Khan (singer) en
35731 Li Mao (李瑁) ja
35737 Saints Alphius, Philadelphus and Cyrinus (Alfio, Filadelfo and Cirino) en
35842 Lawrence (Larry) B. Schook en
35909 Հասմիկ Կարապետյան (Քիրմիզեան) hy
35971 D. C. (Deese) Thompson nl
36174 Mcbess(Matthieu Bessudo) en
36201 Robert (I.) en
36214 (M.Q.R.) en
36223 (روح الله خالقي) fa
36305 (ايمان الاسدي) ar
36622 (Nicoletta Grisoni) co
37110 W. P. “Buck” Astle en
37387 Sidney (Sid) Labe Buckwold en
37442 (宮里 藍) ja
37468 Lyall {Malcolm} Watson en
37718 (at birth) en
37863 (Микола Гурович Куліш) uk
38065 Theodoor (Theo) van der Horst nl
38392 Seán Marty Lockhart (born Seán Martin Lockhart) en
38498 Ferdowsi() et
38509 (Sarabhoji Raja Bhonsle) hi
38722 (Михаил Яснов) ru
38826 Eugène (Eugeniusz) Minkowski pl
38917 James Stirling (1800–1876) en
39001 Mitchell Mayo (comics version) en
39276 Dr. Huda al-Baan (also spelled al-Ban) ar
39299 (Јожеф Каса) sr
39327 Jesse O’Hara pt
39528 (藤木 三郎) ja
39700 DJcable[U.K.] en
39849 Ingwer (Jens) Matzen lb
39970 (מהראן אבו ריא) iw
40292 (Српски патријарх Гаврило I) sr
40305 (鈴木規夫) ja
40438 (Marquis of Ensenada) pt
40579 James F. Jones (Prophet Jones) en
40615 Hryhoriy (Haranyan) Sakhnyuk ms
40992 Family name:Sima(司馬) zh-CN
41067 (이춘석) ko
41161 Jo-Ann Episkenew (née Thom) ht
41341 Zabel Asadour (Sibil) bn
41356 (The Honourable) en
41625 Pehin Datu Indera Setia Major General (Rtd.) Dato Paduka Seri Haji Awang Sulaiman Bin Haji Awang Damit ms
42567 Saint John (Jean) of Saint-Denis en
42594 Hong Gein-Sub (홍진섭) ko
42918 Pavla (Habartová) Kalná cs
43280 Given name: Xuanyuan (Hsuan-yuan 軒轅) zh-CN
43290 E. G. “Pat” Patterson en
43622 Suzan Bushnaq (سوزان بوشناق) ar
43800 Given name: Défāng () en
43830 Cynthia Susan (Kessler) Miller en
44292 (Српски патријарх Варнава I) sr
44294 Prof. (Dr.) G S Bajpai en
44332 (Дамбын Чагдаржав) mn
44626 Marcus Aurelius Numerius Numerianus (from birth to elevation to Caesar) la
44883 John Kerr (physicist) en
44911 Constantine (Kitsos) Botsaris el
45042 Lee Hsueh-Lin (李學林) zh-CN
45075 (FBAFAcSS) en
45160 Francisco (Paquito) Montaner García es
45209 Flavius Honorius (from birth to accession) en
45336 Joseph Russell (Bud) Boyce en
45459 Elena Margarit-Mărgărit (-Dobrovolschi, -Fodor) ro
45738 Maruja Isabella Sevilla (Spanish Era), Nina Concepcion Cristy (Reincarnation) es
45864 Giovanni Bonati (gymnast) it
45874 Peadar Toner Mac Fhionnlaoich (''P.T. McGinley) ga
45876 (Hetman) pl
46025 (Cамбадондогийн Цэрэндорж) mn
46213 Frederik P. Agterberg (Frits) da
46223 Corine Cécile Franco (néePetit) fr
46306 Mongol script(right): en
46661 (198 to 211) en
46689 (ประวิตร วงษ์สุวรรณ) th
46769 (Sra Leandro Dupré) fr
46824 Xie (燮) zh-CN
47298 Feodor Vasilievich Gladkov (Фёдор Васильевич Гладков) ru
47478 (Лосолын Лааган) mn
47489 Clyde Osmer DeLand (or Deland, De Land) en
47690 (愛新覺羅·胤禟) zh-CN
46 David John (Dave) Shannon en
101 (Armen Lubin) de
197 C.W. (Bill) Hutchins en
355 Koshinaka Makoto (越中睦士) ja
555 Josip Seissel (Jo Klek) sl
762 Ancestral name: Jiang (姜) gu
915 (최영일) ko
1357 (Henry Roger) Justin Lewis en
1724 Hubert Duck, Deuteronomy Duck and Louis Duck (Quack Pack) en
1757 Charles D. “Chuck” McAtee en
1794 (GOSEComCComCS) en
1997 Junsei Terasawa (寺沢潤世) ja
2335 () en
2346 Pavel (Pavlo) Gintov sk
2411 (Τίνα Μπιρμπίλη) el
2446 Blessed John Finch (martyr) en
2479 David Hirst (arachnologist) en
2502 Hormisdas Etienne Djibri (Estefan Jabri) fr
2505 Baldwin (II) Rátót hu
2605 Kim Tae-Jin (김태진) ko
2608 (Serdar-ı Ekrem Ömer Paşa) tr
2761 (Dato') it
2942 Claire Kirby (Claire Debrois) en
2980 Saint Honoratus (Honorius) of Amiens la
3187 Milo Gunderson (body) en
3654 Alexander (Oleksandr) Khvostenko-Khvostov ru
4084 Kanysh Satpayev (Kanysh Satbaev) ru
4216 Mohammad Boroujerdi (محمد بروجردی) ar
4301 Örüg Temür Khan (Gulichi) tr
4308 Samuel Robles (Panamanian Musician) en
4461 Stan Bowsher (footballer) en
4808 Chen Tsu-Li (陳 祖烈) ja
4830 Frederick Charles (Karl), Duke of Württemberg-Winnental en
4988 Avrahm (Abraham) Yarmolinsky en
5061 (The Right Honourable) en
5294 Jeane (Jean) Manson fr
5305 Ardeshir (or in higher Persian: Ardashir) Kamkar en
5404 (Italian Name) Giuseppe Stefano Chiaffredo Marello (English) Joseph Stephen Jeffrey Marello it
5432 Wigstan (Wystan, Wistan) en
5544 (김규환) ko
5587 (Dionysius the Humble) en
6052 (강태식) ko
6513 William Ellis (Bill) Newton en
6855 Li Jing (Regine Wu) zh-CN
7106 Tugstumur khan (Uskhal) en
7135 (The Right Reverend) en
7265 (Сүхбаатарын Янжмаа) mn
7290 Thaddeus Maxim Eugene (Ted) Dikty en
7429 (אבי סטרול) iw
7448 (محمد افضل بنګش) ps
7556 Blackwulf I (Pelops), Blackwulf II (Lucian) en
7700 Chris (Simpsons artist) en
7743 Vasile Cerescu (Ciorăscu) ro
8182 P. T. Narasimhachar (Pu Ti Na) bn
8226 (غلامرضا مصباحی مقدم) fa
8369 (S.H.A.D.E.) en
8406 Fyodor Osipovich (Franz Albert) Schechtel lb
8416 (Михайло Петрович Драгоманов) uk
8853 (Vice Admiral) en
9028 Lee Dong-Won (이동원) ko
9148 (عمرو حمزاوى ) ar
9374 T. R. Subba Rao (Ta Ra Su) fi
9408 Ravinder Nath (Tiny) Maini te
9730 (정재권) ko
9742 (Erin) en
10138 Max (Mordechai) Farbmann en
10166 (אסי בלדוט) iw
10257 Akagündüz (Aka Gündüz) Kutbay tr
10448 (Илья Сергеевич Глазунов) ru
10543 梅若実(初世) ja
10761 (권순태) ko
10777 Vonnie (Thompson) DeLong id
10793 (최윤겸) ko
10969 Joshua Cain (Mr. Jingle Jangles) en
11088 Hugh (III) en
11599 Z. W. (Bill) Birnbaum en
11655 (मुनि लाल) hi
12402 (Олександр Дубовой) ru
12404 Caesar Lucius Aurelius Commodus Antoninus Augustus (180) la
12526 (محمد قنيري افرح) ar
12674 H. R.(Bill)Percy en
12717 (გიორგი თარგამაძე) ka
12801 (Владимир Антонов-Овсеенко) ru
13038 (Его́р  Лигачёв) tg
13070 Kenneth Tse (謝德驥) zh-CN
13113 Lee Hyun-Min (이현민) ko
13333 (MBE) en
13345 (Charles Chalmont) en
13465 Clarence George Jeffries or (Jeffreys) en
13561 (조긍연) ko
13806 Naum Natanovich (Nokhim Sanalevich) Meiman bg
13860 Mian Tansen (Tansen) ja
13966 ( ) en
14098 Willie Chu (聲漪 朱) zh-CN
14121 (CBEFSA) mg
14152 (Paul-Tijs Goldschmidt) nl
14168 Ralph de Stafford(Dokeseye) en
14521 (Yamato Maeda) ja
15040 Park Chul-Hyung (박철형) ko
15053 Farid Aslani (Persian : فرید اصلانی) fa
15183 Magdalena Joanna Śliwa (nee Szryniawska) pl
15219 Hiroya (弘也) ja
15265 Ștefan Gușă (Gușe) ro
15276 Ithobaal I (’Ittoba‘l, Ethbaal) ml
15357 (J. Leonard Blussé van Oud-Alblas) nl
15445 Líu Hóngdù (劉弘度)   Líu Bīn (劉玢) zh-CN
15758 Mark (I) Csák hu
15794 Dmitry (Dima) Kroyter ru
16709 Shin Soo-Jin (신수진) ko
16770 Rowena Webster (Rowie) pl
16948 (Baroness Eccles of Moulton) en
17103 (Зоран Димитријевић) sr
17709 (محمد یعقوب علی) fa
18012 Eeyore (Disney version) en
18065 Zhang Na (volleyball) en
18358 Family name: Hóu (侯) en
18482 Zhou Huaizheng (周懷政) zh-CN
18510 L. O. (Buck) Olsen en
19315 (Nguam Indapañño) hmn
19435 Billy(William) Best en
19816 Dolk (Dolk Lundgren) sv
20020 (額爾德特·文繡) zh-CN
20212 Yu Bin (喻彬) ja
20243 Ivan Samylovskii (Samylovsky) Иван Самыловский ru
20276 Louise Firouz (née Laylin) fr
20347 Gabrielle “Goldie” Nowee en
20518 (Дми́трий Я́зов) ru
20574 (이상헌) ko
20668 D.O. (Defy the Odds) en
20902 Zoilos I Dikaios (The Just) el
20903 (伊沢利光) ja
20908 Digvijay Singh (Bihar) hi
21178 (Gerhard) Louis De Geer nl
21467 (中嶋常幸) ja
21731 (龔怡萍) zh-CN
21982 (송진형) ko
21983 (Abu Issa) ar
22135 (박건하) ko
22207 Bashkir (Башкир) ru
22510 Gabriel Montiel Gutiérrez (werevertumorro ) es
22654 Gaura Pant (Shivani) mr
23115 Tan Sri (Dr) Francis Yeoh Sock Ping en
23503 Helmut Hölzer () de
23513 (Александр Аполлонович Шавлохов) ru
23700 Donato Bramante (Spongebob Squarepants) it
23737 (김영광) ko
24052 Nicholas Gordon (Nick) Martin en
24154 (Arabic:عبد العزيز بديع صالح السليمي) ar
24321 (Анта Симеоновић) sr
24959 Meera Chandrasekhar (ಮೀರಾ ಚಂದ್ರಶೇಖರ್) kn
25106 Flavius Julius Constantius Augustus (as Augustus) la
25205 (Бошко Ѓуровски) mk
25435 Tvrtko Kale (changed to Dreshler Kale) hr
25538 (Никола́й Вознесе́нский) ru
25704 Huang Teng-hui (黃騰輝) zh-CN
25809 Chinese: Duàn Sīpíng (段思平) zh-CN
25924 Constantine Mavrocordatos (Κωνσταντίνος Μαυροκορδάτος) el
26002 (عبدالرزاق محمد) ar
26302 Shen Yilun (沈義倫) zh-CN
26495 Sviatopolk Iziaslavovich (Mikhail) sk
26961 Hamza (Pakistani politician) en
27352 Harpreet Sachdeva (Harry) hi
27432 Given name: Zhoupu (州蒲) en
27439 (허기태) ko
27498 Makhdoom Khusro Bakhtyar (Seraiki:مخدوم  کسر  بختٻد) fa
27501 (Валенти́на Матвие́нко) bg
27503 Laqab: Qutb ad-Din (shortly) uz
27540 (Александар Карађорђевић) sr
27660 Tina Sani (singer) en
27753 Admiral(Retired)Tan Sri Dato' Seri id
27771 Bishop Petru (Musteață) ro
27778 (cult suppressed) en
27846 Bennett Friedman (age 67) en
28042 Liu Guosong (Liu Kuo-sung) zh-CN
28300 Colin Priestner (Coe-in) en
28335 Heikki Savolainen (gymnast) fi
28348 Robert Douglas George (Bob) Stanbury en
28621 Francis (Archie) Archibald en
28808 Maganti Murali Mohan ( Born : Maganti Raja Babu ) te
28934 (Пётр Михайлович Латышев) ru
29173 Tjitske Nienke (Cisca) Wijmenga fy
29178 Sir C. V. Raman (Chandrasekhara Venkata Raman) hi
29338 (Драган Којадиновић) sr
29429 (홍명보) ko
29466 Shmuel (Rubashkin) Eyal ru
29668 Air Marshal (retd) Enamul Bari bn
29675 (CMRN) en
29702 (Hoàng Văn Xiêm) vi
29902 Samuel W. (Wat) Arnold pl
30145 (Charles) David White en
30557 Rana Ali Imran (علی عمران) fa
30723 Devan (R. Mahadevan) hi
30726 Yang Mulia Raja Ahmad Nazim Azlan Shah Ibni Raja Dato'seri Seri Ashman Shah (as birth) ms
30907 Julien Dupré (Dupre) fr
31290 (Варвара Зеленская) ru
31381 漢人 陽子　(Kando Yōko) zh-CN
31390 Jacques Miller (ACFRSFAA) en
31465 Mary J. P. (Maura) Scannell en
31600 Ludwik Konarzewski (junior) pl
31902 (Saint Damien of Molokai) en
32096 Jonathan (Dana) Wilson en
32104 Charles P. (Chuck) Thacker en
32301 Justin Sane (In professional wrestling) en
32375 (ლევან ყენია) ka
32463 (Cardinalof theCatholic Church) en
32500 Wilfred Austin “Wilf” Curtis en
32512 Kazuo “Shin Sen” Hamasaki ja
32934 Tony Rand (Anthony Eden Tony Rand) en
33069 (Юмжаагийн Цэдэнбал) mn
33521 (Ευστάθιος Ταυλαρίδης) el
33704 Joseph (Osip Ivanovich) Bové sk
33732 1315 (1899)P.-2 en
33741 Shekhar Dutt (SM) en
33750 Paladine H. Roye (Pon-Cee-Cee) gu
33988 (CBE) en
34072 Brig Gen. (Ret.) Gary Pendleton en
34370 Marcario (Macario) García es
34514 (خلیل الرحمان رمدے) ur
34607 Misia Ff (Furtak) pl
34625 (عبد الرحمن حسن عزام) ar
35086 Samuel Woodroffe Hollis (née Moore) en
35206 Mehdi Hassan Khan (singer) en
35731 Li Mao (李瑁) ja
35737 Saints Alphius, Philadelphus and Cyrinus (Alfio, Filadelfo and Cirino) en
35842 Lawrence (Larry) B. Schook en
35909 Հասմիկ Կարապետյան (Քիրմիզեան) hy
35971 D. C. (Deese) Thompson nl
36174 Mcbess(Matthieu Bessudo) en
36201 Robert (I.) en
36214 (M.Q.R.) en
36223 (روح الله خالقي) fa
36305 (ايمان الاسدي) ar
36622 (Nicoletta Grisoni) co
37038 Taha Hussein ( ar
37110 W. P. “Buck” Astle en
37387 Sidney (Sid) Labe Buckwold en
37442 (宮里 藍) ja
37468 Lyall {Malcolm} Watson en
37718 (at birth) en
37863 (Микола Гурович Куліш) uk
38065 Theodoor (Theo) van der Horst nl
38392 Seán Marty Lockhart (born Seán Martin Lockhart) en
38498 Ferdowsi() et
38509 (Sarabhoji Raja Bhonsle) hi
38722 (Михаил Яснов) ru
38826 Eugène (Eugeniusz) Minkowski pl
38917 James Stirling (1800–1876) en
39001 Mitchell Mayo (comics version) en
39276 Dr. Huda al-Baan (also spelled al-Ban) ar
39299 (Јожеф Каса) sr
39528 (藤木 三郎) ja
39700 DJcable[U.K.] en
39849 Ingwer (Jens) Matzen lb
39970 (מהראן אבו ריא) iw
40292 (Српски патријарх Гаврило I) sr
40305 (鈴木規夫) ja
40438 (Marquis of Ensenada) pt
40579 James F. Jones (Prophet Jones) en
40615 Hryhoriy (Haranyan) Sakhnyuk ms
40992 Family name:Sima(司馬) zh-CN
41067 (이춘석) ko
41161 Jo-Ann Episkenew (née Thom) ht
41341 Zabel Asadour (Sibil) bn
41356 (The Honourable) en
41625 Pehin Datu Indera Setia Major General (Rtd.) Dato Paduka Seri Haji Awang Sulaiman Bin Haji Awang Damit ms
42567 Saint John (Jean) of Saint-Denis en
42594 Hong Gein-Sub (홍진섭) ko
42918 Pavla (Habartová) Kalná cs
43280 Given name: Xuanyuan (Hsuan-yuan 軒轅) zh-CN
43290 E. G. “Pat” Patterson en
43622 Suzan Bushnaq (سوزان بوشناق) ar
43800 Given name: Défāng () en
43830 Cynthia Susan (Kessler) Miller en
44292 (Српски патријарх Варнава I) sr
44294 Prof. (Dr.) G S Bajpai en
44332 (Дамбын Чагдаржав) mn
44626 Marcus Aurelius Numerius Numerianus (from birth to elevation to Caesar) la
44883 John Kerr (physicist) en
44911 Constantine (Kitsos) Botsaris el
45042 Lee Hsueh-Lin (李學林) zh-CN
45075 (FBAFAcSS) en
45160 Francisco (Paquito) Montaner García es
45209 Flavius Honorius (from birth to accession) en

In [174]:
replacechar(')', '', rig)

David John (Dave Shannon
(Armen Lubin
C.W. (Bill Hutchins
Koshinaka Makoto (越中睦士
Josip Seissel (Jo Klek
Ancestral name: Jiang (姜
Frank J. O’Connell
(최영일
(Henry Roger Justin Lewis
Hubert Duck, Deuteronomy Duck and Louis Duck (Quack Pack
Charles D. “Chuck” McAtee
(GOSEComCComCS
Junsei Terasawa (寺沢潤世
(
Pavel (Pavlo Gintov
(Τίνα Μπιρμπίλη
Blessed John Finch (martyr
David Hirst (arachnologist
Hormisdas Etienne Djibri (Estefan Jabri
Baldwin (II Rátót
Kim Tae-Jin (김태진
(Serdar-ı Ekrem Ömer Paşa
(Dato'
Claire Kirby (Claire Debrois
Saint Honoratus (Honorius of Amiens
Milo Gunderson (body
Alexander (Oleksandr Khvostenko-Khvostov
Kanysh Satpayev (Kanysh Satbaev
Mohammad Boroujerdi (محمد بروجردی
Örüg Temür Khan (Gulichi
Samuel Robles (Panamanian Musician
Stan Bowsher (footballer
Chen Tsu-Li (陳 祖烈
Frederick Charles (Karl, Duke of Württemberg-Winnental
Avrahm (Abraham Yarmolinsky
(The Right Honourable
Jeane (Jean Manson
Ardeshir (or in higher Persian: Ardashir Kamkar
(Italian Name Giuseppe Stefano Chiaffredo Marello (English Joseph Stephen Jeffrey Marello
Wigstan (Wystan, Wistan
(김규환
(Dionysius the Humble
(강태식
William Ellis (Bill Newton
Li Jing (Regine Wu
Tugstumur khan (Uskhal
(The Right Reverend
(Сүхбаатарын Янжмаа
Thaddeus Maxim Eugene (Ted Dikty
(אבי סטרול
(محمد افضل بنګش
Blackwulf I (Pelops, Blackwulf II (Lucian
Chris (Simpsons artist
Vasile Cerescu (Ciorăscu
P. T. Narasimhachar (Pu Ti Na
(غلامرضا مصباحی مقدم
(S.H.A.D.E.
Fyodor Osipovich (Franz Albert Schechtel
(Михайло Петрович Драгоманов
(Vice Admiral
Lee Dong-Won (이동원
(عمرو حمزاوى
T. R. Subba Rao (Ta Ra Su
Ravinder Nath (Tiny Maini
(정재권
(Erin
Max (Mordechai Farbmann
(אסי בלדוט
Akagündüz (Aka Gündüz Kutbay
(Илья Сергеевич Глазунов
Alessandro D’Errico
梅若実(初世
(권순태
Vonnie (Thompson DeLong
(최윤겸
Joshua Cain (Mr. Jingle Jangles
Hugh (III
Z. W. (Bill Birnbaum
(मुनि लाल
S’manga Khumalo
(Олександр Дубовой
Caesar Lucius Aurelius Commodus Antoninus Augustus (180
(محمد قنيري افرح
H. R.(BillPercy
(გიორგი თარგამაძე
(Владимир Антонов-Овсеенко
(Его́р  Лигачёв
Kenneth Tse (謝德驥
Lee Hyun-Min (이현민
(MBE
(Charles Chalmont
Clarence George Jeffries or (Jeffreys
(조긍연
Naum Natanovich (Nokhim Sanalevich Meiman
Mian Tansen (Tansen
(
Willie Chu (聲漪 朱
(CBEFSA
(Paul-Tijs Goldschmidt
Ralph de Stafford(Dokeseye
(Yamato Maeda
Sinéad O’Connor
Park Chul-Hyung (박철형
Farid Aslani (Persian : فرید اصلانی
Magdalena Joanna Śliwa (nee Szryniawska
Hiroya (弘也
Ștefan Gușă (Gușe
Ithobaal I (’Ittoba‘l, Ethbaal
(J. Leonard Blussé van Oud-Alblas
Líu Hóngdù (劉弘度   Líu Bīn (劉玢
Pat O’Kelly
Mark (I Csák
Dmitry (Dima Kroyter
Shin Soo-Jin (신수진
Rowena Webster (Rowie
(Baroness Eccles of Moulton

(Зоран Димитријевић
(محمد یعقوب علی
Mit’hat Frashëri
Eeyore (Disney version
Zhang Na (volleyball
Family name: Hóu (侯
Zhou Huaizheng (周懷政
L. O. (Buck Olsen
(Nguam Indapañño
Billy(William Best
Dolk (Dolk Lundgren
(額爾德特·文繡
Yu Bin (喻彬
Ivan Samylovskii (Samylovsky Иван Самыловский
Louise Firouz (née Laylin
Gabrielle “Goldie” Nowee
(Дми́трий Я́зов
(이상헌
D.O. (Defy the Odds
David O’Callaghan
Zoilos I Dikaios (The Just
(伊沢利光
Digvijay Singh (Bihar
(Gerhard Louis De Geer
(中嶋常幸
(龔怡萍
(송진형
(Abu Issa
(박건하
Bashkir (Башкир
Gabriel Montiel Gutiérrez (werevertumorro
Gaura Pant (Shivani
Tan Sri (Dr Francis Yeoh Sock Ping
Helmut Hölzer (
(Александр Аполлонович Шавлохов
Donato Bramante (Spongebob Squarepants
(김영광
Nicholas Gordon (Nick Martin
(Arabic:عبد العزيز بديع صالح السليمي
(Анта Симеоновић
Meera Chandrasekhar (ಮೀರಾ ಚಂದ್ರಶೇಖರ್
Flavius Julius Constantius Augustus (as Augustus
(Бошко Ѓуровски
Tvrtko Kale (changed to Dreshler Kale
(Никола́й Вознесе́нский
Huang Teng-hui (黃騰輝
Chinese: Duàn Sīpíng (段思平
Constantine Mavrocordatos (Κωνσταντίνος Μαυροκορδάτος
Anthony O’Sullivan
(عبدالرزاق محمد
Shen Yilun (沈義倫
Sviatopolk Iziaslavovich (Mikhail
Hamza (Pakistani politician
Harpreet Sachdeva (Harry
Given name: Zhoupu (州蒲
(허기태
Makhdoom Khusro Bakhtyar (Seraiki:مخدوم  کسر  بختٻد
(Валенти́на Матвие́нко
Laqab: Qutb ad-Din (shortly
(Александар Карађорђевић
Tina Sani (singer
Admiral(RetiredTan Sri Dato' Seri
Bishop Petru (Musteață
(cult suppressed
Bennett Friedman (age 67
Liu Guosong (Liu Kuo-sung
Joan O’Flynn, Siobhán Ní Fhloinn
Colin Priestner (Coe-in
Heikki Savolainen (gymnast
Robert Douglas George (Bob Stanbury
Francis (Archie Archibald
Maganti Murali Mohan ( Born : Maganti Raja Babu
(Пётр Михайлович Латышев
Tjitske Nienke (Cisca Wijmenga
Sir C. V. Raman (Chandrasekhara Venkata Raman
(Драган Којадиновић
(홍명보
Shmuel (Rubashkin Eyal
Air Marshal (retd Enamul Bari
(CMRN
(Hoàng Văn Xiêm
Samuel W. (Wat Arnold
(Charles David White
Rana Ali Imran (علی عمران
Devan (R. Mahadevan
Yang Mulia Raja Ahmad Nazim Azlan Shah Ibni Raja Dato'seri Seri Ashman Shah (as birth
Louise O’Hara
Julien Dupré (Dupre
(Варвара Зеленская
漢人 陽子　(Kando Yōko
Jacques Miller (ACFRSFAA
Mary J. P. (Maura Scannell
Ludwik Konarzewski (junior
(Saint Damien of Molokai
Jonathan (Dana Wilson
Charles P. (Chuck Thacker
Justin Sane (In professional wrestling
(ლევან ყენია
(Cardinalof theCatholic Church
Wilfred Austin “Wilf” Curtis
Kazuo “Shin Sen” Hamasaki
Tony Rand (Anthony Eden Tony Rand
(Юмжаагийн Цэдэнбал
(Ευστάθιος Ταυλαρίδης
Joseph (Osip Ivanovich Bové
1315 (1899P.-2
Shekhar Dutt (SM
Paladine H. Roye (Pon-Cee-Cee
(CBE
Brig Gen. (Ret. Gary Pendleton
Marcario (Macario García
(خلیل الرحمان رمدے
Misia Ff (Furtak
(عبد الرحمن حسن عزام
Samuel Woodroffe Hollis (née Moore
Mehdi Hassan Khan (singer
Li Mao (李瑁
Saints Alphius, Philadelphus and Cyrinus (Alfio, Filadelfo and Cirino
Lawrence (Larry B. Schook
Հասմիկ Կարապետյան (Քիրմիզեան
D. C. (Deese Thompson
Mcbess(Matthieu Bessudo
Robert (I.
(M.Q.R.
(روح الله خالقي
(ايمان الاسدي
(Nicoletta Grisoni
W. P. “Buck” Astle
Sidney (Sid Labe Buckwold
(宮里 藍
Lyall {Malcolm} Watson
(at birth
(Микола Гурович Куліш
Theodoor (Theo van der Horst
Seán Marty Lockhart (born Seán Martin Lockhart
Ferdowsi(
(Sarabhoji Raja Bhonsle
(Михаил Яснов
Eugène (Eugeniusz Minkowski
James Stirling (1800–1876
Mitchell Mayo (comics version
Dr. Huda al-Baan (also spelled al-Ban
(Јожеф Каса
Jesse O’Hara
(藤木 三郎
DJcable[U.K.]
Ingwer (Jens Matzen
(מהראן אבו ריא
(Српски патријарх Гаврило I
(鈴木規夫
(Marquis of Ensenada
James F. Jones (Prophet Jones
Hryhoriy (Haranyan Sakhnyuk
Family name:Sima(司馬
(이춘석
Jo-Ann Episkenew (née Thom
Zabel Asadour (Sibil
(The Honourable
Pehin Datu Indera Setia Major General (Rtd. Dato Paduka Seri Haji Awang Sulaiman Bin Haji Awang Damit
Saint John (Jean of Saint-Denis
Hong Gein-Sub (홍진섭
Pavla (Habartová Kalná
Given name: Xuanyuan (Hsuan-yuan 軒轅
E. G. “Pat” Patterson
Suzan Bushnaq (سوزان بوشناق
Given name: Défāng (
Cynthia Susan (Kessler Miller
(Српски патријарх Варнава I
Prof. (Dr. G S Bajpai
(Дамбын Чагдаржав
Marcus Aurelius Numerius Numerianus (from birth to elevation to Caesar
John Kerr (physicist
Constantine (Kitsos Botsaris
Lee Hsueh-Lin (李學林
(FBAFAcSS
Francisco (Paquito Montaner García
Flavius Honorius (from birth to accession
Joseph Russell (Bud Boyce
Elena Margarit-Mărgărit (-Dobrovolschi, -Fodor
Maruja Isabella Sevilla (Spanish Era, Nina Concepcion Cristy (Reincarnation
Giovanni Bonati (gymnast
Peadar Toner Mac Fhionnlaoich (''P.T. McGinley
(Hetman
(Cамбадондогийн Цэрэндорж
Frederik P. Agterberg (Frits
Corine Cécile Franco (néePetit
Mongol script(right:
(198 to 211
(ประวิตร วงษ์สุวรรณ
(Sra Leandro Dupré
Xie (燮
Feodor Vasilievich Gladkov (Фёдор Васильевич Гладков
(Лосолын Лааган
Clyde Osmer DeLand (or Deland, De Land
(愛新覺羅·胤禟

In [175]:
checkempty = []
checkempty.append(replacechar('(', '', lef))

David John Dave Shannon
Armen Lubin
C.W. Bill Hutchins
Koshinaka Makoto 越中睦士
Josip Seissel Jo Klek
Ancestral name: Jiang 姜
최영일
Henry Roger Justin Lewis
Hubert Duck, Deuteronomy Duck and Louis Duck Quack Pack
Charles D. “Chuck” McAtee
GOSEComCComCS
Junsei Terasawa 寺沢潤世

Pavel Pavlo Gintov
Τίνα Μπιρμπίλη
Blessed John Finch martyr
David Hirst arachnologist
Hormisdas Etienne Djibri Estefan Jabri
Baldwin II Rátót
Kim Tae-Jin 김태진
Serdar-ı Ekrem Ömer Paşa
Dato'
Claire Kirby Claire Debrois
Saint Honoratus Honorius of Amiens
Milo Gunderson body
Alexander Oleksandr Khvostenko-Khvostov
Kanysh Satpayev Kanysh Satbaev
Mohammad Boroujerdi محمد بروجردی
Örüg Temür Khan Gulichi
Samuel Robles Panamanian Musician
Stan Bowsher footballer
Chen Tsu-Li 陳 祖烈
Frederick Charles Karl, Duke of Württemberg-Winnental
Avrahm Abraham Yarmolinsky
The Right Honourable
Jeane Jean Manson
Ardeshir or in higher Persian: Ardashir Kamkar
Italian Name Giuseppe Stefano Chiaffredo Marello English Joseph Stephen Jeffrey Marello
Wigstan Wystan, Wistan
김규환
Dionysius the Humble
강태식
William Ellis Bill Newton
Li Jing Regine Wu
Tugstumur khan Uskhal
The Right Reverend
Сүхбаатарын Янжмаа
Thaddeus Maxim Eugene Ted Dikty
אבי סטרול
محمد افضل بنګش
Blackwulf I Pelops, Blackwulf II Lucian
Chris Simpsons artist
Vasile Cerescu Ciorăscu
P. T. Narasimhachar Pu Ti Na
غلامرضا مصباحی مقدم
S.H.A.D.E.
Fyodor Osipovich Franz Albert Schechtel
Михайло Петрович Драгоманов
Vice Admiral
Lee Dong-Won 이동원
عمرو حمزاوى
T. R. Subba Rao Ta Ra Su
Ravinder Nath Tiny Maini
정재권
Erin
Max Mordechai Farbmann
אסי בלדוט
Akagündüz Aka Gündüz Kutbay
Илья Сергеевич Глазунов
梅若実初世
권순태
Vonnie Thompson DeLong
최윤겸
Joshua Cain Mr. Jingle Jangles
Hugh III
Z. W. Bill Birnbaum
मुनि लाल
Олександр Дубовой
Caesar Lucius Aurelius Commodus Antoninus Augustus 180
محمد قنيري افرح
H. R.BillPercy
გიორგი თარგამაძე
Владимир Антонов-Овсеенко
Его́р  Лигачёв
Kenneth Tse 謝德驥
Lee Hyun-Min 이현민
MBE
Charles Chalmont
Clarence George Jeffries or Jeffreys
조긍연
Naum Natanovich Nokhim Sanalevich Meiman
Mian Tansen Tansen

Willie Chu 聲漪 朱
CBEFSA
Paul-Tijs Goldschmidt
Ralph de StaffordDokeseye
Yamato Maeda
Park Chul-Hyung 박철형
Farid Aslani Persian : فرید اصلانی
Magdalena Joanna Śliwa nee Szryniawska
Hiroya 弘也
Ștefan Gușă Gușe
Ithobaal I ’Ittoba‘l, Ethbaal
J. Leonard Blussé van Oud-Alblas
Líu Hóngdù 劉弘度   Líu Bīn 劉玢
Mark I Csák
Dmitry Dima Kroyter
Shin Soo-Jin 신수진
Rowena Webster Rowie
Baroness Eccles of Moulton
Зоран Димитријевић
محمد یعقوب علی
Eeyore Disney version
Zhang Na volleyball
Family name: Hóu 侯
Zhou Huaizheng 周懷政
L. O. Buck Olsen
Nguam Indapañño
BillyWilliam Best
Dolk Dolk Lundgren
額爾德特·文繡
Yu Bin 喻彬
Ivan Samylovskii Samylovsky Иван Самыловский
Louise Firouz née Laylin
Gabrielle “Goldie” Nowee
Дми́трий Я́зов
이상헌
D.O. Defy the Odds
Zoilos I Dikaios The Just
伊沢利光
Digvijay Singh Bihar
Gerhard Louis De Geer
中嶋常幸
龔怡萍
송진형
Abu Issa
박건하
Bashkir Башкир
Gabriel Montiel Gutiérrez werevertumorro
Gaura Pant Shivani
Tan Sri Dr Francis Yeoh Sock Ping
Helmut Hölzer
Александр Аполлонович Шавлохов
Donato Bramante Spongebob Squarepants
김영광
Nicholas Gordon Nick Martin
Arabic:عبد العزيز بديع صالح السليمي
Анта Симеоновић
Meera Chandrasekhar ಮೀರಾ ಚಂದ್ರಶೇಖರ್
Flavius Julius Constantius Augustus as Augustus
Бошко Ѓуровски
Tvrtko Kale changed to Dreshler Kale
Никола́й Вознесе́нский
Huang Teng-hui 黃騰輝
Chinese: Duàn Sīpíng 段思平
Constantine Mavrocordatos Κωνσταντίνος Μαυροκορδάτος
عبدالرزاق محمد
Shen Yilun 沈義倫
Sviatopolk Iziaslavovich Mikhail
Hamza Pakistani politician
Harpreet Sachdeva Harry
Given name: Zhoupu 州蒲
허기태
Makhdoom Khusro Bakhtyar Seraiki:مخدوم  کسر  بختٻد
Валенти́на Матвие́нко
Laqab: Qutb ad-Din shortly
Александар Карађорђевић
Tina Sani singer
AdmiralRetiredTan Sri Dato' Seri
Bishop Petru Musteață
cult suppressed
Bennett Friedman age 67
Liu Guosong Liu Kuo-sung
Colin Priestner Coe-in
Heikki Savolainen gymnast
Robert Douglas George Bob Stanbury
Francis Archie Archibald
Maganti Murali Mohan  Born : Maganti Raja Babu
Пётр Михайлович Латышев
Tjitske Nienke Cisca Wijmenga
Sir C. V. Raman Chandrasekhara Venkata Raman
Драган Којадиновић
홍명보
Shmuel Rubashkin Eyal
Air Marshal retd Enamul Bari
CMRN
Hoàng Văn Xiêm
Samuel W. Wat Arnold
Charles David White
Rana Ali Imran علی عمران
Devan R. Mahadevan
Yang Mulia Raja Ahmad Nazim Azlan Shah Ibni Raja Dato'seri Seri Ashman Shah as birth
Julien Dupré Dupre
Варвара Зеленская
漢人 陽子　Kando Yōko
Jacques Miller ACFRSFAA
Mary J. P. Maura Scannell
Ludwik Konarzewski junior
Saint Damien of Molokai
Jonathan Dana Wilson
Charles P. Chuck Thacker
Justin Sane In professional wrestling
ლევან ყენია
Cardinalof theCatholic Church
Wilfred Austin “Wilf” Curtis
Kazuo “Shin Sen” Hamasaki
Tony Rand Anthony Eden Tony Rand
Юмжаагийн Цэдэнбал
Ευστάθιος Ταυλαρίδης
Joseph Osip Ivanovich Bové
1315 1899P.-2
Shekhar Dutt SM
Paladine H. Roye Pon-Cee-Cee
CBE
Brig Gen. Ret. Gary Pendleton
Marcario Macario García
خلیل الرحمان رمدے
Misia Ff Furtak
عبد الرحمن حسن عزام
Samuel Woodroffe Hollis née Moore
Mehdi Hassan Khan singer
Li Mao 李瑁
Saints Alphius, Philadelphus and Cyrinus Alfio, Filadelfo and Cirino
Lawrence Larry B. Schook
Հասմիկ Կարապետյան Քիրմիզեան
D. C. Deese Thompson
McbessMatthieu Bessudo
Robert I.
M.Q.R.
روح الله خالقي
ايمان الاسدي
Nicoletta Grisoni
Taha Hussein
W. P. “Buck” Astle
Sidney Sid Labe Buckwold
宮里 藍
Lyall {Malcolm} Watson
at birth
Микола Гурович Куліш
Theodoor Theo van der Horst
Seán Marty Lockhart born Seán Martin Lockhart
Ferdowsi
Sarabhoji Raja Bhonsle
Михаил Яснов
Eugène Eugeniusz Minkowski
James Stirling 1800–1876
Mitchell Mayo comics version
Dr. Huda al-Baan also spelled al-Ban
Јожеф Каса
藤木 三郎
DJcable[U.K.]
Ingwer Jens Matzen
מהראן אבו ריא
Српски патријарх Гаврило I
鈴木規夫
Marquis of Ensenada
James F. Jones Prophet Jones
Hryhoriy Haranyan Sakhnyuk
Family name:Sima司馬
이춘석
Jo-Ann Episkenew née Thom
Zabel Asadour Sibil
The Honourable
Pehin Datu Indera Setia Major General Rtd. Dato Paduka Seri Haji Awang Sulaiman Bin Haji Awang Damit
Saint John Jean of Saint-Denis
Hong Gein-Sub 홍진섭
Pavla Habartová Kalná
Given name: Xuanyuan Hsuan-yuan 軒轅
E. G. “Pat” Patterson
Suzan Bushnaq سوزان بوشناق
Given name: Défāng
Cynthia Susan Kessler Miller
Српски патријарх Варнава I
Prof. Dr. G S Bajpai
Дамбын Чагдаржав
Marcus Aurelius Numerius Numerianus from birth to elevation to Caesar
John Kerr physicist
Constantine Kitsos Botsaris
Lee Hsueh-Lin 李學林
FBAFAcSS
Francisco Paquito Montaner García
Flavius Honorius from birth to accession
Joseph Russell Bud Boyce
Elena Margarit-Mărgărit -Dobrovolschi, -Fodor
Maruja Isabella Sevilla Spanish Era, Nina Concepcion Cristy Reincarnation
Giovanni Bonati gymnast
Peadar Toner Mac Fhionnlaoich ''P.T. McGinley
Hetman
Cамбадондогийн Цэрэндорж
Frederik P. Agterberg Frits
Corine Cécile Franco néePetit
Mongol scriptright:
198 to 211
ประวิตร วงษ์สุวรรณ
Sra Leandro Dupré
Xie 燮
Feodor Vasilievich Gladkov Фёдор Васильевич Гладков
Лосолын Лааган
Clyde Osmer DeLand or Deland, De Land
愛新覺羅·胤禟

### Clean AMPERSAND

In [176]:
amp = []
findname('AMPERSAND', amp)

4309 Isaac & Miria en
22717 Tom & Olly en
24908 Saints Hor, Besoy, & Daydara bn
35732 Steven K. D&#39Arcy en
38598 Lanfranchi & Farina it

In [177]:
replacechar('&', '', amp)

Isaac  Miria
Tom  Olly
Saints Hor, Besoy,  Daydara
Steven K. D#39Arcy
Lanfranchi  Farina

### Clean WHITE

In [178]:
whi = []
findname('WHITE', whi)

19465 Beauty☆Takaco en

In [179]:
replacechar('☆', ' ', whi)

Beauty Takaco

### Clean MIDDLE

In [180]:
mid = []
findname('MIDDLE', mid)

20020 額爾德特·文繡 zh-CN
47690 愛新覺羅·胤禟 zh-CN

In [181]:
replacechar('·', ' ', mid)

額爾德特 文繡
愛新覺羅 胤禟

### Clean DIGIT (incomplete) (a little more complex)

In [182]:
dig = []
findname('DIGIT', dig)

195 Sir William Jardine, 7th Baronet en
1024 Auriane Mallo in 2013 la
2519 Coi4 Si1 Bui4 en
2766 Lok6 Dai3 ar
2816 thumb|right|Spitfire Mk IIa P7350 of the BBMF is the only existing airworthy Spitfire that fought in the Battle of Britain. en
2940 Ckay1 vi
3625 26th Clan Chief en
4112 Sir Edward Malet, 4th Bt en
4500 D-Ray 3000 en
4740 Robert de Holland, 1st Baron Holand es
6796 James Younger, 5th Viscount Younger of Leckie en
7745 Kyoko Inoue#5 ja
9952 Mateusz Rutkowski20px pl
12404 Caesar Lucius Aurelius Commodus Antoninus Augustus 180 la
12412 Can4 Jin4-hei1 en
12480 The Chain Gang of 1974 en
12817 William Pakenham, 4th Earl of Longford en
13902 George Douglas, 1st Earl of Dumbarton en
14063 9ice ar
14222 21 Savage en
14966 György Berencsi 3rd hu
15526 J57 ar
15874 1316-Sv.4 en
15914 Sir Charles Hastings, 1st Baronet en
16286 Gu2 Geoi6-gei1 bg
16428 Dik6 Lung4 en
17228 A1 ig
17400 Sir George White, 1st Baronet en
17700 wai6 laan4 ar
17701 1978 en
17727 Alexander Hood, 1st Viscount Bridport en

18734 Heoi2 Gun3git6 ar
19889 John H. Ware 3rd en
21302 Ling4 Bo1 no
21891 John de Mowbray, 4th Baron Mowbray en
21965 Richard Arden, 3rd Baron Alvanley en
23111 Alacrana Plata #2 es
23549 Carsten Bo Eriksen   MBD73 da
23745 Sir Basil Samuel Hill-Wood, 2nd Baronet en
24342 Victor Durbal 03408.JPG bn
26310 1317-P.80 en
26403 William Willoughby, 5th Baron Willoughby de Eresby en
27846 Bennett Friedman age 67 en
28350 Bestia 666 es
28503 Sir Mordaunt Martin, 4th Baronet en
28648 Sir Francis Samuel Drake, 1st Baronet en
29121 John Neville, 4th Baron Latimer en
29382 William Brooke, 10th Baron Cobham en
29737 John de Mowbray, 1st Earl of Nottingham en
29759 1314-P.39 en
32216 2Mex en
32568 AK-69 ht
32719 Malise mac Gilleain, 2nd Chief gd
33174 12th Planet en
33522 C-3PO en
33732 1315 1899P.-2 en
34508 Sir William Cusack Smith, 2nd Baronet en
34963 Matthew Aylmer, 1st Baron Aylmer en
35044 1312-Sv.6 en
35045 E-40 en
35599 Masked Burning #2 en
35732 Steven K. D#39Arcy en
36673 Sir John Laforey, 1st Baronet en
37116 Jyu4 Sing4-wai6 hi
37532 The 4th Baron Ashton of Hyde en
38368 Nguyen Anh 9 vi
38372 James Gunnar Nixon #1 en
38917 James Stirling 1800–1876 en
39681 2Tap ar
39828 Roger Beauchamp, 1st Baron Beauchamp en
42044 Sir Hector Maclean, 5th Baronet en
42348 Francis Willoughby, 5th Baron Willoughby of Parham en
42669 FM-2030 en
43109 MAP1970s en
43249 Sir Philip Christison, 4th Baronet en
43804 Thomas Dacre, 6th Baron Dacre en
45618 Stanley Marsh 3 en
45668 Hong 10 en
45971 Sir Thomas Brisbane, 1st Bt en
46347 1321-P.44 en
46661 198 to 211 en
47230 1318-Ağ. Top1 az
47314 Robert Radcliffe, 1st Earl of Sussex en
47503 Sir William Hope, 14th Baronet en

In [183]:
for i, x in enumerate(dig):
    if langname(df['name'][x][0]) == ['DIGIT']:
        print(x, df['name'][x], df['lang'][x])

3625 26th Clan Chief en
14063 9ice ar
14222 21 Savage en
15874 1316-Sv.4 en
17701 1978 en
26310 1317-P.80 en
29759 1314-P.39 en
32216 2Mex en
33174 12th Planet en
33732 1315 1899P.-2 en
35044 1312-Sv.6 en
39681 2Tap ar
46347 1321-P.44 en
46661 198 to 211 en
47230 1318-Ağ. Top1 az

### Clean EN (cleaned one name)

In [184]:
en = []
findname('EN', en)

14408 Stevan Nedić–Ćela hr
18503 Jerzy Waldorff–Preyss en
19030 Meinhard II of Gorizia–Tyrol en
38917 James Stirling 1800–1876 en

In [185]:
replacechar('1800–1876', '', en)

Stevan Nedić–Ćela
Jerzy Waldorff–Preyss
Meinhard II of Gorizia–Tyrol
James Stirling

### Clean NUMBER (names with # may be duplicates)

In [186]:
num = []
findname('NUMBER', num)

7745 Kyoko Inoue#5 ja
23111 Alacrana Plata #2 es
35599 Masked Burning #2 en
35732 Steven K. D#39Arcy en
38372 James Gunnar Nixon #1 en

In [187]:
replacechar('#', '', num)

Kyoko Inoue5
Alacrana Plata 2
Masked Burning 2
Steven K. D39Arcy
James Gunnar Nixon 1

In [188]:
alphatype1 = []
for i in df['name']:
    for x in langname(i):
        alphatype1.append(x)

print(len(set(alphatype1)))

total1 = 0
for i in set(alphatype1):
    count = 0
    total1 +=1
    for x,y in enumerate(df['name']):
        if i in langname(y):
            count += 1
    print(count, i)
print(total1)

41
418 COMMA
1 ZERO
2 TAMIL
3 ARMENIAN
1 KATAKANA
23 HANGUL
75 CYRILLIC
2 GEORGIAN
4 KANNADA
5 MODIFIER
31 COLON
77 ARABIC
13 HEBREW
83 DIGIT
2 HIRAGANA
1 SINHALA
1 LESS-THAN
1 MALAYALAM
5 BENGALI
47392 LATIN
2 IDEOGRAPHIC
1 TELUGU
9 LEFT
184 CJK
2489 FULL
1 ACUTE
1 MYANMAR
2 THAI
1400 HYPHEN-MINUS
14 GREEK
5 COMBINING
1 FEMININE
1 GURMUKHI
334 APOSTROPHE
1 ETHIOPIC
17 DEVANAGARI
20 RIGHT
3 EN
1 SYRIAC
46505 SPACE
2 VERTICAL
41

### Doing basic cleaning again

In [189]:
df

,name,class,lang,alphabet
0,Raha Etemadi,1,et,"[LATIN, LATIN, LATIN, LATIN, SPACE, LATIN, LAT..."
1,Leena Peltonen-Palotie,1,fi,"[LATIN, LATIN, LATIN, LATIN, LATIN, SPACE, LAT..."
2,Luma Grothe,1,en,"[LATIN, LATIN, LATIN, LATIN, SPACE, LATIN, LAT..."
3,Takuya Kakine,1,ja,"[LATIN, LATIN, LATIN, LATIN, LATIN, LATIN, SPA..."
4,Ōuyáng Zhènhuá,1,mi,"[LATIN, LATIN, LATIN, LATIN, LATIN, LATIN, SPA..."
...,...,...,...,...
47754,Clyde Donaldson,1,en,"[LATIN, LATIN, LATIN, LATIN, LATIN, SPACE, LAT..."
47755,Terry Alexander,1,en,"[LATIN, LATIN, LATIN, LATIN, LATIN, SPACE, LAT..."
47756,Neil Roebuck,1,en,"[LATIN, LATIN, LATIN, LATIN, SPACE, LATIN, LAT..."
47757,Lyle Stewart,1,en,"[LATIN, LATIN, LATIN, LATIN, SPACE, LATIN, LAT..."
47758,Thomas Colclough Watson,1,en,"[LATIN, LATIN, LATIN, LATIN, LATIN, LATIN, SPA..."

In [190]:
print(np.any(df["name"].isna()))
print(np.any(df["name"] == ''))
print(np.any(df["name"] == ' '))
print(np.any(df["name"] == '  '))

#Need to drop alphabets because df.duplicated() doesn't work with lists
df = df.drop(columns = 'alphabet')
print(np.any(df.duplicated()))

False
True
True
False
True

In [191]:
df.replace('', np.nan, inplace=True)
df.replace(' ', np.nan, inplace=True)

In [192]:
df = df.dropna()
df = df.drop_duplicates()

In [193]:
df['alphabet'] = df['name'].apply(langname)

Drop certain rows

In [194]:
df.reset_index(drop=True, inplace=True)
df

,name,class,lang,alphabet
0,Raha Etemadi,1,et,"[LATIN, LATIN, LATIN, LATIN, SPACE, LATIN, LAT..."
1,Leena Peltonen-Palotie,1,fi,"[LATIN, LATIN, LATIN, LATIN, LATIN, SPACE, LAT..."
2,Luma Grothe,1,en,"[LATIN, LATIN, LATIN, LATIN, SPACE, LATIN, LAT..."
3,Takuya Kakine,1,ja,"[LATIN, LATIN, LATIN, LATIN, LATIN, LATIN, SPA..."
4,Ōuyáng Zhènhuá,1,mi,"[LATIN, LATIN, LATIN, LATIN, LATIN, LATIN, SPA..."
...,...,...,...,...
47749,Clyde Donaldson,1,en,"[LATIN, LATIN, LATIN, LATIN, LATIN, SPACE, LAT..."
47750,Terry Alexander,1,en,"[LATIN, LATIN, LATIN, LATIN, LATIN, SPACE, LAT..."
47751,Neil Roebuck,1,en,"[LATIN, LATIN, LATIN, LATIN, SPACE, LATIN, LAT..."
47752,Lyle Stewart,1,en,"[LATIN, LATIN, LATIN, LATIN, SPACE, LATIN, LAT..."
47753,Thomas Colclough Watson,1,en,"[LATIN, LATIN, LATIN, LATIN, LATIN, LATIN, SPA..."

## Feature Creation

### accents (incomplete)

In [195]:
from unidecode import unidecode
import unicodedata

text_with_accents = "Létérs wïth âccénts"
normalized_text = unidecode(text_with_accents)
print(normalized_text)

Leters with accents

In [196]:
import unicodedata
langname = lambda x : unicodedata.name(x[0]).split(' ')[0]

In [197]:
def identify_accents(text):
    accents = []
    for char in text:
        if unicodedata.normalize('NFD', char) != char:
            accents.append(char)
    return accents
allaccents= set()
for i in df['name']:
    allaccents.update(identify_accents(i))
print(allaccents)
print(len(allaccents))

{'ī', 'Ḥ', '재', '송', 'è', 'Ó', 'ῑ', 'İ', 'ư', 'ǒ', 'Í', 'ō', 'ė', 'ো', '강', 'ạ', 'Ä', 'ć', 'ń', 'Ž', 'ọ', 'ş', 'ố', '윤', 'ô', 'š', 'ē', 'ì', 'ţ', '김', 'ŭ', 'Ḫ', 'Č', '상', 'Å', 'ě', 'ḫ', '철', 'ί', '대', 'â', 'Š', '권', 'Ľ', 'Â', 'й', 'ű', '일', 'ắ', '석', 'ğ', '노', 'ž', 'ę', '정', '하', '명', '연', '춘', 'č', '영', 'Ѓ', 'ứ', 'ụ', '건', 'ď', 'ț', 'ό', 'ň', 'ç', 'ೀ', 'ṭ', 'ü', 'ú', '신', 'ů', 'Ō', 'Ș', 'ǐ', 'ῖ', 'ä', 'ṣ', 'Ż', 'ź', '박', '헌', '랑', 'ò', 'ệ', '홍', '긍', 'أ', 'ș', 'ǫ', 'ǎ', 'î', '원', '태', '조', 'ả', 'ỹ', 'ģ', '형', 'ö', 'ņ', 'ợ', 'Ṭ', 'إ', '환', 'ê', '기', 'Ī', 'ấ', '민', 'ώ', 'ầ', 'ķ', 'ś', 'Ř', 'É', 'ؤ', 'Ț', 'ằ', 'ủ', 'ă', 'ơ', 'Ü', '광', '이', 'ớ', '진', 'ą', 'ờ', 'ữ', 'ế', '허', 'ǔ', '현', 'ά', '규', 'ā', 'ï', 'ĩ', 'ľ', 'ї', 'é', '최', 'í', '보', 'ñ', 'à', 'ř', 'Ć', '수', 'Ś', 'ೇ', 'õ', 'ÿ', 'á', 'Á', '섭', 'ৌ', 'ド', 'Ö', 'Ş', 'ã', '순', 'Ú', 'ề', 'ļ', 'ǚ', 'ù', 'ị', 'ý', 'ż', 'ồ', 'ő', 'å', 'Ç', 'ū', 'έ', 'ё', 'ũ', 'ë', 'ύ', 'û', 'ペ', '겸', 'ễ', 'ừ', '동', '녕', 'ó', 'ặ', '식'}
195

In [198]:
allaccents1 = []
for i in allaccents:
    if langname(str(i)) != 'HANGUL':
        allaccents1.append(i)
print(allaccents1)
print(len(allaccents1))

['ī', 'Ḥ', 'è', 'Ó', 'ῑ', 'İ', 'ư', 'ǒ', 'Í', 'ō', 'ė', 'ো', 'ạ', 'Ä', 'ć', 'ń', 'Ž', 'ọ', 'ş', 'ố', 'ô', 'š', 'ē', 'ì', 'ţ', 'ŭ', 'Ḫ', 'Č', 'Å', 'ě', 'ḫ', 'ί', 'â', 'Š', 'Ľ', 'Â', 'й', 'ű', 'ắ', 'ğ', 'ž', 'ę', 'č', 'Ѓ', 'ứ', 'ụ', 'ď', 'ț', 'ό', 'ň', 'ç', 'ೀ', 'ṭ', 'ü', 'ú', 'ů', 'Ō', 'Ș', 'ǐ', 'ῖ', 'ä', 'ṣ', 'Ż', 'ź', 'ò', 'ệ', 'أ', 'ș', 'ǫ', 'ǎ', 'î', 'ả', 'ỹ', 'ģ', 'ö', 'ņ', 'ợ', 'Ṭ', 'إ', 'ê', 'Ī', 'ấ', 'ώ', 'ầ', 'ķ', 'ś', 'Ř', 'É', 'ؤ', 'Ț', 'ằ', 'ủ', 'ă', 'ơ', 'Ü', 'ớ', 'ą', 'ờ', 'ữ', 'ế', 'ǔ', 'ά', 'ā', 'ï', 'ĩ', 'ľ', 'ї', 'é', 'í', 'ñ', 'à', 'ř', 'Ć', 'Ś', 'ೇ', 'õ', 'ÿ', 'á', 'Á', 'ৌ', 'ド', 'Ö', 'Ş', 'ã', 'Ú', 'ề', 'ļ', 'ǚ', 'ù', 'ị', 'ý', 'ż', 'ồ', 'ő', 'å', 'Ç', 'ū', 'έ', 'ё', 'ũ', 'ë', 'ύ', 'û', 'ペ', 'ễ', 'ừ', 'ó', 'ặ']
148

In [199]:
unicodedata.normalize('NFD', '안녕하세요') == '안녕하세요'

False

In [200]:
'안녕하세요' == '안녕하세요'

True

### alphabet

Use langname to find the alphabet name for each character in a name instead of just the first letter (Anna said its better to have full list) and create column

In [201]:
langname = lambda x:[unicodedata.name(char).split(' ')[0] for char in x]
df['alphabet'] = df['name'].apply(langname)
print(df['alphabet'].head())

0    [LATIN, LATIN, LATIN, LATIN, SPACE, LATIN, LAT...
1    [LATIN, LATIN, LATIN, LATIN, LATIN, SPACE, LAT...
2    [LATIN, LATIN, LATIN, LATIN, SPACE, LATIN, LAT...
3    [LATIN, LATIN, LATIN, LATIN, LATIN, LATIN, SPA...
4    [LATIN, LATIN, LATIN, LATIN, LATIN, LATIN, SPA...
Name: alphabet, dtype: object

In [202]:
allalphatype = []
#List of all alphabet types of every character in the dataset
for i in df['name']:
    for x in langname(i):
        allalphatype.append(x)

total = 0
for i in set(allalphatype):
    count = 0
    total +=1
    for x,y in enumerate(df['name']):
        if i in langname(y):
            count += 1
    print(count, i)
print(total)

418 COMMA
1 ZERO
2 TAMIL
3 ARMENIAN
1 KATAKANA
23 HANGUL
75 CYRILLIC
2 GEORGIAN
4 KANNADA
5 MODIFIER
31 COLON
77 ARABIC
13 HEBREW
83 DIGIT
2 HIRAGANA
1 SINHALA
1 LESS-THAN
1 MALAYALAM
5 BENGALI
47390 LATIN
2 IDEOGRAPHIC
1 TELUGU
9 LEFT
184 CJK
2489 FULL
1 ACUTE
1 MYANMAR
2 THAI
1400 HYPHEN-MINUS
14 GREEK
5 COMBINING
1 FEMININE
1 GURMUKHI
334 APOSTROPHE
1 ETHIOPIC
17 DEVANAGARI
20 RIGHT
3 EN
1 SYRIAC
46504 SPACE
2 VERTICAL
41

Alphabets: (HEBREW, TELUGU, SINHALA, CJK, HIRAGANA, ARMENIAN, DEVANAGARI, KATAKANA, CYRILLIC, KANNADA,BENGALI, GURMUKHI, LATIN, TAMIL, GREEK, ARABIC, GEORGIAN, MALAYALAM, SYRIAC, HANGUL, MYANMAR, THAI, ETHIOPIC) (24)


Non alphabets: (ASTERISK, 418 COMMA, 2489 FULL, 1400 HYPHEN-MINUS, 5 COMBINING, 1 FULLWIDTH, 180 QUOTATION, 10 SEMICOLON, 4 VERTICAl, 31 COLON, 46500 SPACE, 15 SOLIDUS, 1 EXCLAMATION, 1 DOLLAR, 1 DAGGER, 1 LESS-THAN, 1 ACUTE, 1 EQUALS, 1 ZERO, 339 APOSTROPHE, 1 LOW, 2 IDEOGRAPHIC, 1 FEMININE, 5 MODIFIER, 312 RIGHT, 5 AMPERSAND, 1 WHITE, 301 LEFT, 2 MIDDLE, 85 DIGIT, 4 EN, 5 NUMBER) (32)

Check for double spaces

Cleaned: ASTERISK (cleaned), FULLWIDTH (cleaned), QUOTATION, SEMICOLON, VERTICAL (disappeared), 

Keep:FULL (period), COMBINING (accent), 

Skipped: COMMA, QUOTATION, COLON, EN (not sure if should remove), HYPHEN-MINUS (not sure if should remove)

In [203]:
char = []
for x, y in enumerate(df['name']):
    if 'ASTERISK' in (langname(y)):
        print(x, y, df.iloc[x, 2])
        char.append(x)
char

[]

Clean ASTERISK

In [204]:
tmp = [6816, 25458]
for y in tmp:
    df.iloc[y, 0]=df.iloc[y, 0].replace('*', '')
    print(df.iloc[y, 0])

df.iloc[12044, 0]=df.iloc[12044, 0].replace('*', ' ')
print({df.iloc[i, 0] for i in char})

Tuanku Fauziah
Čestmír Kožíšek
set()

Clean FULLWIDTH

In [205]:
fullw = []
for x, y in enumerate(df['name']):
    if 'FULLWIDTH' in (langname(y)):
        print(x, y, df.iloc[x, 2])
        fullw.append(x)
fullw

[]

In [206]:
df.iloc[43794, 0]= "Thomas Prence or Thomas Prince"
print(df.iloc[43794, 0])

Thomas Prence or Thomas Prince

Clean QUOTATION

In [207]:
quo = []
for x, y in enumerate(df['name']):
    if 'QUOTATION' in (langname(y)):
        print(x,y, df.iloc[x, 2])
        quo.append(x)

In [208]:
for y in quo:
    df.iloc[y, 0]=df.iloc[y, 0].replace('"', '')
    print(df.iloc[y, 0])

Clean SEMICOLON

In [209]:
semi = []
for x, y in enumerate(df['name']):
    if 'SEMICOLON' in (langname(y)):
        print(x,y, df.iloc[x, 2])
        semi.append(x)

In [210]:
for y in semi:
    df.iloc[y, 0]=df.iloc[y, 0].replace(';', '')
    print(df.iloc[y, 0])

Clean VERTICAL (dropped irrelevant)

In [211]:
ver = []
for x, y in enumerate(df['name']):
    if 'VERTICAL' in (langname(y)):
        print(x,y, df.iloc[x, 2])
        ver.append(x)

2815 thumb|right|Spitfire Mk IIa P7350 of the BBMF is the only existing airworthy Spitfire that fought in the Battle of Britain. en
4318 frameless|center en

In [212]:
drop = [2816, 4319]
df.iloc[14690, 0] = 'Veronika Sramaty'
df.iloc[22302, 0] = "Timmy O'Dowd"

df['name'][ver]

2815    thumb|right|Spitfire Mk IIa P7350 of the BBMF ...
4318                                     frameless|center
Name: name, dtype: object

Clean COLON (incomp) (considering dropping all names)

In [213]:
col = []
for x, y in enumerate(df['name']):
    if 'COLON' in (langname(y)):
        print(x,y, df.iloc[x, 2])
        col.append(x)

762 Ancestral name: Jiang 姜 gu
3595 German:  Josef Franz Leopold en
4091 German: Henriette Maria Norberta en
5304 Ardeshir or in higher Persian: Ardashir Kamkar en
6335 Lily Munster  OTS name: Phoebe Munster en
7432 File:Hollidaycamo.jpg en
15050 Farid Aslani Persian : فرید اصلانی fa
18354 Family name: Hóu 侯 en
19396 Dutch: Gabriël Boudewijn Karel Maria nl
20728 Dutch: Albert Leopold Clemens Maria Meinrad de
21738 Sajid AliUrdu:ساجد  علی fa
22194 Given name: Unknown en
24150 Arabic:عبد العزيز بديع صالح السليمي ar
25805 Chinese: Duàn Sīpíng 段思平 zh-CN
25875 Given name: Dao 導 ja
27428 Given name: Zhoupu 州蒲 en
27494 Makhdoom Khusro Bakhtyar Seraiki:مخدوم  کسر  بختٻد fa
27499 Laqab: Qutb ad-Din shortly uz
27578 Spanish: María Luisa de Borbón y Sajonia es
28804 Maganti Murali Mohan  Born : Maganti Raja Babu  te
31307 Traditional Chinese:韓世忠 zh-CN
34231 Given name: Dawud en
37174 Nu:Tone ro
40518 German: Wilhelm Friedrich Karl Ernst Joachim Albrecht en
40987 Family name:Sima司馬 zh-CN
42218 Given name: unknown en
43275 Given name: Xuanyuan Hsuan-yuan 軒轅 zh-CN
43795 Given name: Défāng  en
45595 Family name: Dou 竇 zh-CN
46301 Mongol scriptright: en
47481 Stig H:son Ericson en

Clean SOLIDUS

In [214]:
sol = []
for x, y in enumerate(df['name']):
    if 'SOLIDUS' in (langname(y)):
        print(x,y, df.iloc[x, 2])
        sol.append(x)

In [215]:
for y in sol:
    df.iloc[y, 0]=df.iloc[y, 0].replace('/', ' ')
    print(df.iloc[y, 0])

Clean EXCLAMATION

In [216]:
exl = []
for x, y in enumerate(df['name']):
    if 'EXCLAMATION' in (langname(y)):
        print(x,y, df.iloc[x, 2])
        exl.append(x)

In [217]:
for y in exl:
    df.iloc[y, 0]=df.iloc[y, 0].replace('!', '')
    print(df.iloc[y, 0])

Clean DOLLAR

In [218]:
dol = []

for x, y in enumerate(df['name']):
    if 'DOLLAR' in (langname(y)):
        print(x,y, df.iloc[x, 2])
        dol.append(x)

In [219]:
for y in dol:
    df.iloc[y, 0]=df.iloc[y, 0].replace('$', '')
    print(df.iloc[y, 0])

Clean DAGGER

In [220]:
def findname(character, indexes):
    for x, y in enumerate(df['name']):
        if str(character) in (langname(y)):
            indexes.append(x)
            print(x, y, df.iloc[x, 2])

In [221]:
dag = []
findname('DAGGER', dag)

Drop certain rows all at once

In [222]:
#df = df.drop()
#df.reset_index(drop=True, inplace=True)

### avg_token_length (complete)

In [223]:
def average_token_length(name):
    total_length = 0
    total_tokens = 0
    tokens = name.split()

    # Calculate the total length of tokens in the name
    token_length = sum(len(token) for token in tokens)

    # Total length (characters in each word) and total number of tokens (words in name)
    total_length += token_length
    total_tokens += len(tokens)
    # Calculate the average token length
    if total_tokens > 0:
        average_length = total_length / total_tokens
        return average_length
    else:
        return 0 
    
avg_token_length = []
for i in df['name']:
    avg_token_length.append(average_token_length(i))

In [224]:
df['avg_token_length'] = avg_token_length

### num_tokens (complete)

In [225]:
def token_len(name):
    total_tokens = 0
    tokens = name.split()
    # Total number of tokens (words in name)
    total_tokens += len(tokens)
    return total_tokens

In [226]:
token_length = []
for i in df['name']:
    token_length.append(token_len(i))
df['num_tokens'] = token_length

### transliteration

In [227]:
transliteration = []
for i in df['name']:
    transliteration.append(unidecode(i))
df['transliteration'] = transliteration

In [228]:
df

,name,class,lang,alphabet,avg_token_length,num_tokens,transliteration
0,Raha Etemadi,1,et,"[LATIN, LATIN, LATIN, LATIN, SPACE, LATIN, LAT...",5.5,2,Raha Etemadi
1,Leena Peltonen-Palotie,1,fi,"[LATIN, LATIN, LATIN, LATIN, LATIN, SPACE, LAT...",10.5,2,Leena Peltonen-Palotie
2,Luma Grothe,1,en,"[LATIN, LATIN, LATIN, LATIN, SPACE, LATIN, LAT...",5.0,2,Luma Grothe
3,Takuya Kakine,1,ja,"[LATIN, LATIN, LATIN, LATIN, LATIN, LATIN, SPA...",6.0,2,Takuya Kakine
4,Ōuyáng Zhènhuá,1,mi,"[LATIN, LATIN, LATIN, LATIN, LATIN, LATIN, SPA...",6.5,2,Ouyang Zhenhua
...,...,...,...,...,...,...,...
47749,Clyde Donaldson,1,en,"[LATIN, LATIN, LATIN, LATIN, LATIN, SPACE, LAT...",7.0,2,Clyde Donaldson
47750,Terry Alexander,1,en,"[LATIN, LATIN, LATIN, LATIN, LATIN, SPACE, LAT...",7.0,2,Terry Alexander
47751,Neil Roebuck,1,en,"[LATIN, LATIN, LATIN, LATIN, SPACE, LATIN, LAT...",5.5,2,Neil Roebuck
47752,Lyle Stewart,1,en,"[LATIN, LATIN, LATIN, LATIN, SPACE, LATIN, LAT...",5.5,2,Lyle Stewart
47753,Thomas Colclough Watson,1,en,"[LATIN, LATIN, LATIN, LATIN, LATIN, LATIN, SPA...",7.0,3,Thomas Colclough Watson

### period_freq, dash_freq, apostrophe_freq, space_freq

In [229]:
df['period_freq'] = df['name'].apply(lambda name: name.count('.'))
df['dash_freq'] = df['name'].apply(lambda name: name.count('-'))
df['apostrophe_freq'] = df['name'].apply(lambda name: name.count('\''))
df['space_freq'] = df['name'].apply(lambda name: name.count(' '))

In [230]:
df.head()

,name,class,lang,alphabet,avg_token_length,num_tokens,transliteration,period_freq,dash_freq,apostrophe_freq,space_freq
0,Raha Etemadi,1,et,"[LATIN, LATIN, LATIN, LATIN, SPACE, LATIN, LAT...",5.5,2,Raha Etemadi,0,0,0,1
1,Leena Peltonen-Palotie,1,fi,"[LATIN, LATIN, LATIN, LATIN, LATIN, SPACE, LAT...",10.5,2,Leena Peltonen-Palotie,0,1,0,1
2,Luma Grothe,1,en,"[LATIN, LATIN, LATIN, LATIN, SPACE, LATIN, LAT...",5.0,2,Luma Grothe,0,0,0,1
3,Takuya Kakine,1,ja,"[LATIN, LATIN, LATIN, LATIN, LATIN, LATIN, SPA...",6.0,2,Takuya Kakine,0,0,0,1
4,Ōuyáng Zhènhuá,1,mi,"[LATIN, LATIN, LATIN, LATIN, LATIN, LATIN, SPA...",6.5,2,Ouyang Zhenhua,0,0,0,1

### Char n grams

In [231]:
import nltk
from nltk.util import ngrams
def generate_char_ngrams(text):
    if isinstance(text, str):
        words = text.split()
        unigrams = list(ngrams(text, 1))
        bigrams = list(ngrams(text, 2))
        trigrams = list(ngrams(text, 3))
        
        interpolated_ngrams = unigrams + bigrams + trigrams
        return interpolated_ngrams
    else:
        return []

### Word _ngrams

In [232]:
df['word_ngrams'] = df['name'].apply(lambda name: name.split())
df

,name,class,lang,alphabet,avg_token_length,num_tokens,transliteration,period_freq,dash_freq,apostrophe_freq,space_freq,word_ngrams
0,Raha Etemadi,1,et,"[LATIN, LATIN, LATIN, LATIN, SPACE, LATIN, LAT...",5.5,2,Raha Etemadi,0,0,0,1,"[Raha, Etemadi]"
1,Leena Peltonen-Palotie,1,fi,"[LATIN, LATIN, LATIN, LATIN, LATIN, SPACE, LAT...",10.5,2,Leena Peltonen-Palotie,0,1,0,1,"[Leena, Peltonen-Palotie]"
2,Luma Grothe,1,en,"[LATIN, LATIN, LATIN, LATIN, SPACE, LATIN, LAT...",5.0,2,Luma Grothe,0,0,0,1,"[Luma, Grothe]"
3,Takuya Kakine,1,ja,"[LATIN, LATIN, LATIN, LATIN, LATIN, LATIN, SPA...",6.0,2,Takuya Kakine,0,0,0,1,"[Takuya, Kakine]"
4,Ōuyáng Zhènhuá,1,mi,"[LATIN, LATIN, LATIN, LATIN, LATIN, LATIN, SPA...",6.5,2,Ouyang Zhenhua,0,0,0,1,"[Ōuyáng, Zhènhuá]"
...,...,...,...,...,...,...,...,...,...,...,...,...
47749,Clyde Donaldson,1,en,"[LATIN, LATIN, LATIN, LATIN, LATIN, SPACE, LAT...",7.0,2,Clyde Donaldson,0,0,0,1,"[Clyde, Donaldson]"
47750,Terry Alexander,1,en,"[LATIN, LATIN, LATIN, LATIN, LATIN, SPACE, LAT...",7.0,2,Terry Alexander,0,0,0,1,"[Terry, Alexander]"
47751,Neil Roebuck,1,en,"[LATIN, LATIN, LATIN, LATIN, SPACE, LATIN, LAT...",5.5,2,Neil Roebuck,0,0,0,1,"[Neil, Roebuck]"
47752,Lyle Stewart,1,en,"[LATIN, LATIN, LATIN, LATIN, SPACE, LATIN, LAT...",5.5,2,Lyle Stewart,0,0,0,1,"[Lyle, Stewart]"
47753,Thomas Colclough Watson,1,en,"[LATIN, LATIN, LATIN, LATIN, LATIN, LATIN, SPA...",7.0,3,Thomas Colclough Watson,0,0,0,2,"[Thomas, Colclough, Watson]"

### A hat frequency

In [233]:
#trying to figure out accent distribution
print(allaccents1)
print(len(allaccents1))

['ī', 'Ḥ', 'è', 'Ó', 'ῑ', 'İ', 'ư', 'ǒ', 'Í', 'ō', 'ė', 'ো', 'ạ', 'Ä', 'ć', 'ń', 'Ž', 'ọ', 'ş', 'ố', 'ô', 'š', 'ē', 'ì', 'ţ', 'ŭ', 'Ḫ', 'Č', 'Å', 'ě', 'ḫ', 'ί', 'â', 'Š', 'Ľ', 'Â', 'й', 'ű', 'ắ', 'ğ', 'ž', 'ę', 'č', 'Ѓ', 'ứ', 'ụ', 'ď', 'ț', 'ό', 'ň', 'ç', 'ೀ', 'ṭ', 'ü', 'ú', 'ů', 'Ō', 'Ș', 'ǐ', 'ῖ', 'ä', 'ṣ', 'Ż', 'ź', 'ò', 'ệ', 'أ', 'ș', 'ǫ', 'ǎ', 'î', 'ả', 'ỹ', 'ģ', 'ö', 'ņ', 'ợ', 'Ṭ', 'إ', 'ê', 'Ī', 'ấ', 'ώ', 'ầ', 'ķ', 'ś', 'Ř', 'É', 'ؤ', 'Ț', 'ằ', 'ủ', 'ă', 'ơ', 'Ü', 'ớ', 'ą', 'ờ', 'ữ', 'ế', 'ǔ', 'ά', 'ā', 'ï', 'ĩ', 'ľ', 'ї', 'é', 'í', 'ñ', 'à', 'ř', 'Ć', 'Ś', 'ೇ', 'õ', 'ÿ', 'á', 'Á', 'ৌ', 'ド', 'Ö', 'Ş', 'ã', 'Ú', 'ề', 'ļ', 'ǚ', 'ù', 'ị', 'ý', 'ż', 'ồ', 'ő', 'å', 'Ç', 'ū', 'έ', 'ё', 'ũ', 'ë', 'ύ', 'û', 'ペ', 'ễ', 'ừ', 'ó', 'ặ']
148

In [234]:
#new column with names in all lower case
df['name_lower'] = df['name'].str.lower()
df['char_ngrams'] = df['name_lower'].apply(generate_char_ngrams)
df

,name,class,lang,alphabet,avg_token_length,num_tokens,transliteration,period_freq,dash_freq,apostrophe_freq,space_freq,word_ngrams,name_lower,char_ngrams
0,Raha Etemadi,1,et,"[LATIN, LATIN, LATIN, LATIN, SPACE, LATIN, LAT...",5.5,2,Raha Etemadi,0,0,0,1,"[Raha, Etemadi]",raha etemadi,"[(r,), (a,), (h,), (a,), ( ,), (e,), (t,), (e,..."
1,Leena Peltonen-Palotie,1,fi,"[LATIN, LATIN, LATIN, LATIN, LATIN, SPACE, LAT...",10.5,2,Leena Peltonen-Palotie,0,1,0,1,"[Leena, Peltonen-Palotie]",leena peltonen-palotie,"[(l,), (e,), (e,), (n,), (a,), ( ,), (p,), (e,..."
2,Luma Grothe,1,en,"[LATIN, LATIN, LATIN, LATIN, SPACE, LATIN, LAT...",5.0,2,Luma Grothe,0,0,0,1,"[Luma, Grothe]",luma grothe,"[(l,), (u,), (m,), (a,), ( ,), (g,), (r,), (o,..."
3,Takuya Kakine,1,ja,"[LATIN, LATIN, LATIN, LATIN, LATIN, LATIN, SPA...",6.0,2,Takuya Kakine,0,0,0,1,"[Takuya, Kakine]",takuya kakine,"[(t,), (a,), (k,), (u,), (y,), (a,), ( ,), (k,..."
4,Ōuyáng Zhènhuá,1,mi,"[LATIN, LATIN, LATIN, LATIN, LATIN, LATIN, SPA...",6.5,2,Ouyang Zhenhua,0,0,0,1,"[Ōuyáng, Zhènhuá]",ōuyáng zhènhuá,"[(ō,), (u,), (y,), (á,), (n,), (g,), ( ,), (z,..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
47749,Clyde Donaldson,1,en,"[LATIN, LATIN, LATIN, LATIN, LATIN, SPACE, LAT...",7.0,2,Clyde Donaldson,0,0,0,1,"[Clyde, Donaldson]",clyde donaldson,"[(c,), (l,), (y,), (d,), (e,), ( ,), (d,), (o,..."
47750,Terry Alexander,1,en,"[LATIN, LATIN, LATIN, LATIN, LATIN, SPACE, LAT...",7.0,2,Terry Alexander,0,0,0,1,"[Terry, Alexander]",terry alexander,"[(t,), (e,), (r,), (r,), (y,), ( ,), (a,), (l,..."
47751,Neil Roebuck,1,en,"[LATIN, LATIN, LATIN, LATIN, SPACE, LATIN, LAT...",5.5,2,Neil Roebuck,0,0,0,1,"[Neil, Roebuck]",neil roebuck,"[(n,), (e,), (i,), (l,), ( ,), (r,), (o,), (e,..."
47752,Lyle Stewart,1,en,"[LATIN, LATIN, LATIN, LATIN, SPACE, LATIN, LAT...",5.5,2,Lyle Stewart,0,0,0,1,"[Lyle, Stewart]",lyle stewart,"[(l,), (y,), (l,), (e,), ( ,), (s,), (t,), (e,..."
47753,Thomas Colclough Watson,1,en,"[LATIN, LATIN, LATIN, LATIN, LATIN, LATIN, SPA...",7.0,3,Thomas Colclough Watson,0,0,0,2,"[Thomas, Colclough, Watson]",thomas colclough watson,"[(t,), (h,), (o,), (m,), (a,), (s,), ( ,), (c,..."

In [236]:
import re
accent_counts = {accent: 0 for accent in allaccents1}
def count_accents(text, accent_counts):
    for accent in accent_counts.keys():
        accent_counts[accent] += len(re.findall(accent, text))
    return accent_counts
df['name_lower'].apply(lambda x: count_accents(x, accent_counts))
print(accent_counts)

{'ī': 15, 'Ḥ': 0, 'è': 66, 'Ó': 0, 'ῑ': 1, 'İ': 0, 'ư': 15, 'ǒ': 2, 'Í': 0, 'ō': 132, 'ė': 10, 'ো': 1, 'ạ': 3, 'Ä': 0, 'ć': 530, 'ń': 42, 'Ž': 0, 'ọ': 2, 'ş': 59, 'ố': 3, 'ô': 31, 'š': 270, 'ē': 3, 'ì': 7, 'ţ': 10, 'ŭ': 1, 'Ḫ': 0, 'Č': 0, 'Å': 0, 'ě': 11, 'ḫ': 2, 'ί': 9, 'â': 27, 'Š': 0, 'Ľ': 0, 'Â': 0, 'й': 24, 'ű': 1, 'ắ': 1, 'ğ': 49, 'ž': 90, 'ę': 6, 'č': 168, 'Ѓ': 0, 'ứ': 2, 'ụ': 2, 'ď': 1, 'ț': 18, 'ό': 1, 'ň': 11, 'ç': 143, 'ೀ': 4, 'ṭ': 2, 'ü': 241, 'ú': 138, 'ů': 6, 'Ō': 0, 'Ș': 0, 'ǐ': 4, 'ῖ': 1, 'ä': 85, 'ṣ': 1, 'Ż': 0, 'ź': 4, 'ò': 8, 'ệ': 4, 'أ': 9, 'ș': 30, 'ǫ': 1, 'ǎ': 3, 'î': 13, 'ả': 6, 'ỹ': 1, 'ģ': 2, 'ö': 282, 'ņ': 7, 'ợ': 3, 'Ṭ': 0, 'إ': 3, 'ê': 23, 'Ī': 0, 'ấ': 2, 'ώ': 2, 'ầ': 9, 'ķ': 1, 'ś': 13, 'Ř': 0, 'É': 0, 'ؤ': 1, 'Ț': 0, 'ằ': 1, 'ủ': 1, 'ă': 100, 'ơ': 11, 'Ü': 0, 'ớ': 1, 'ą': 12, 'ờ': 2, 'ữ': 1, 'ế': 6, 'ǔ': 2, 'ά': 9, 'ā': 35, 'ï': 24, 'ĩ': 1, 'ľ': 3, 'ї': 1, 'é': 1284, 'í': 641, 'ñ': 133, 'à': 28, 'ř': 28, 'Ć': 0, 'Ś': 0, 'ೇ': 1, 'õ': 8, 'ÿ': 1, 'á': 1046, 'Á': 0, 'ৌ': 2, 'ド': 1, 'Ö': 0, 'Ş': 0, 'ã': 78, 'Ú': 0, 'ề': 2, 'ļ': 4, 'ǚ': 1, 'ù': 6, 'ị': 2, 'ý': 33, 'ż': 16, 'ồ': 3, 'ő': 15, 'å': 47, 'Ç': 0, 'ū': 39, 'έ': 1, 'ё': 3, 'ũ': 4, 'ë': 43, 'ύ': 1, 'û': 1, 'ペ': 1, 'ễ': 16, 'ừ': 1, 'ó': 502, 'ặ': 1}

In [235]:
def create_character_frequency_hashmap(df, names_col):
    char_freqs = {}
    for name in df[names_col]:
        for char in name:
            if char not in char_freqs.keys():
                char_freqs[char] = 1
    return char_freqs

### Frequency Distribution